[2019-04-28 22:58] bmoscon opened #1 "Full support for all data types"
- [x] - L2 Book
- [x] - L3 Book
- [x] - Book Deltas
- [x] - Trades
- [x] - Funding

[2019-04-28 22:59] bmoscon opened #2 "Storing files to S3/GC"
store json / parquet files for book/trade/etc updates

[2019-04-28 22:59] bmoscon opened #3 "Backfill missing trades with REST api"

[2019-04-28 23:00] bmoscon opened #4 "full parquet support for all data types"
- [x] - L2 Book
- [x] - L3 Book
- [ ] - Book Deltas
- [x] - Trades
- [ ] - Funding

[2019-04-28 23:03] bmoscon opened #5 "Test dynamic config"
Changing a config option could result in missing or duplicate data. Need to ensure that the new collector has started before killing the old one and ensure that duplicate updates are purged

[2019-05-03 00:02] bmoscon opened #8 "Change setup script to register and install script"
Setup tools can register a script that it will make available on the path for easy execution

[2019-05-03 00:03] bmoscon opened #9 "Documentation"
Need to document

1. Config files
2. How to run with custom config
3. How to extend/develop code

[2019-05-03 00:04] bmoscon opened #10 "Support different config path"
currently you have to have the config in the CWD or pointed to via an ENV var. Need to support specifying the path on the command line

[2019-05-03 23:01] bmoscon commented on #2
* [x] GCS
* [ ] S3

[2019-05-03 23:40] #10 closed

[2019-05-04 14:21] #2 closed

[2019-05-04 19:59] #8 closed

[2019-05-10 18:00] jeffneuen opened #12 "Redis error on stock install, ubuntu 18.04 LTS"
I have installed cryptostore from master, updated as of the date of this issue filing, and installed via "python setup.py install".

When I attempt to run "cryptostore", using the provided sample config.yaml, I get an error related to Redis. I did have to install Redis manually using apt-update install. I have verified that Redis is working using Redis-cli on 127.0.0.1. The version of Redis that 1

[2019-05-10 19:37] bmoscon commented on #12
What is your output from pip freeze?

I did a clean install in a new virtualenv (just ran `pip install cryptostore[arctic]`) and it worked as expected. My guess is an outdated version of aioredis/redis?

here is my pip freeze output

[code]

[2019-05-10 19:45] bmoscon commented on #12
also @jeffneuen ubuntu's versioning isnt 100% clear to me, so I'm not positive what `5:4.0.9` maps to, but if its less than 5.0, it wont work, redis streams were introduced in redis 5.0. I'm guessing its version 4.0.9, so you may need to install redis from a different PPA or from source, or wait a few days until I release the kafka cache for cryptostore

[2019-05-10 19:56] jeffneuen commented on #12
I agree, ubuntu's Redis versioning is weird.

I made a new virtualenv and installed again via pip install cryptostore[arctic] . I also installed Redis from a PPA, so now I get

Redis server v=5.0.4 sha=00000000:0 malloc=jemalloc-5.1.0 bits=64 build=6840e401a1a58e85

My pip freeze has aioredis==1.2.0.

Still the same error, very weird.

I can wait for Kafka though, that's what I'd rather use anyway

[2019-05-19 20:34] bmoscon commented on #12
kafka support is released so I'm going to close this out. I've also made it clearer in the documentation that Redis 5.0+ is required if redis is being used

[2019-05-19 20:34] #12 closed

[2019-06-03 22:39] #3 closed

[2019-06-03 22:41] bmoscon opened #14 "Plugin Module"
Support for plugins. Plugins follow an interface and are user supplied/enabled that provide auxiliary features and support outside the core of cryptofeed. They have their own state and config.

Backfill should be converted to a plugin, and missing trade correction/detection will be a plugin as well.

[2019-06-03 22:50] bmoscon opened #15 "Fix import module"
Currently the engine class is responsible for dynamically importing optional modules, but some of the use the from xxx import xxxx syntax, which does not work with the current style. Need to add support for `__import__`'s `fromlist` keyword arg (see https://docs.python.org/3/library/functions.html#__import__)

[2019-06-08 12:47] #14 closed

[2019-06-08 12:48] bmoscon opened #16 "Missing Trade Detection"

[2019-07-04 13:34] e-mulville opened #17 "Pulling data from COINBASE/BITFINEX/BITMEX gives timestamps from 1970"
While the file names for the data from COINBASE/BITFINEX/BITMEX seems correct the 'timestamp' column in the dataframes returns 1970.

BINANCE using the same code has the correct timestamps.

[2019-07-04 13:35] e-mulville commented on #17
Example timestamp from BITMEX: 1970-01-19 01:56:25.855891

[2019-07-04 14:41] bmoscon commented on #17
@e-mulville can you confirm the storage type you are using?

[2019-07-15 06:44] xiandong79 opened #18 "Related issues with Bitmex"
https://github.com/BitMEX/api-connectors/issues/139

[2019-07-15 06:45] #18 closed

[2019-07-19 09:17] xiandong79 commented on #12
@jeffneuen you should update/upgrade your Redis.
I also got "ERR unknown command 'XADD'" when I use old version Redis-server.

you can search "ubuntu install latest redis" in google.com

[2019-07-22 15:35] xiandong79 opened #19 "too much files with storage=parquet, each interval for each backend separately is needed"
storage with parquet.
If I have 50 pairs, and storage_interval/duration = 60s by default, there will be  50 * 60 = 3000 files per hour.
there files just locate in the same folder with my customized_config.yaml

this is because storage_interval=60 is good for influxdb/arctic, but too frequent for parquet as files in the disk.

they should use different **storage_interval**

[2019-07-24 00:07] bmoscon commented on #19
@xiandong79 good issue, I'll look into letting the user specify each interval separately.

[2019-07-24 00:07] bmoscon commented on #17
this has been fixed (fix was in cryptofeed)

[2019-07-24 00:07] #17 closed

[2019-07-24 07:57] xiandong79 opened #21 "expect an example.py for reconstructing the orderbook"
For example, I use the following config.yaml with command cryptostore.

[code]

Is there any example.py or READMD.md to illustrate that how to reconstruct the orderbook from the stored data (when I use `book_delta` to store the update).

[2019-07-25 07:21] xiandong79 opened #22 "Error with GEMINI using only one pair."
[code]

**cryptostore version 0.0.8
cryptofeed version 0.25.0**

[2019-07-25 07:40] xiandong79 opened #23 "POLONIEX: missing sequence number. Received 2, expected 406241931"
[code]

**cryptostore version 0.0.8
cryptofeed version 0.25.0**

[2019-07-25 10:07] xiandong79 commented on #22
Wow, why not publish the latest version to PyPI? @bmoscon

[2019-07-26 06:21] xiandong79 opened #24 "Message length too long, dropping. for BITMEX using cryptostore 0.1.0"
2019-07-26 14:16:46,769 : ERROR : BITMEX: Error message from exchange: {'status': 400, 'error': 'Failed to decode incoming data: Message length too long, dropping. Please see the documentation at https://www.bitmex.com/app/wsAPI.', 'meta': {}}

with following in config.yaml:
[code]

**cryptostore 0.1.0
cryptofeed 1.0.0**

[2019-07-26 07:07] xiandong79 commented on #24
Actually， in cryptofeed 1.0.0

in cryptofeed/examples/demo_book_delta.py, you can see another error message.

[code]

[2019-07-26 07:12] xiandong79 commented on #24
The error is possible in `XBTZ19`

[2019-07-26 23:40] cheekybastard commented on #22
@xiandong79 Pip can install straight from any public github repo and you get the latest commits on the branch you select.

pip install https://github.com/bmoscon/cryptostore/zipball/master https://github.com/bmoscon/cryptofeed/zipball/master

[2019-07-26 23:50] bmoscon commented on #22
@xiandong79 gemini will not work with cryptostore. I'll put in something to not let you select it until Ive changed cryptofeed to support it like the other exchanges

[2019-07-26 23:51] bmoscon commented on #24
Bitmex cant handle the size of the subscription message. You're subscribing to too many datapoints on a single websocket. I'll update the code to do a feed per datatype (book, trade, etc) and this should fix the issue

[2019-07-26 23:52] bmoscon commented on #23
I'll see if I can reproduce this

[2019-07-27 03:10] xiandong79 commented on #22
Yes. it would be great that users can know it when reading the README.md

[2019-07-27 03:10] #22 closed

[2019-07-30 06:43] xiandong79 commented on #21
After I get the book, there are both 'delta' = True and False in the book. What the meaning of 'delta', how can I reconstruct the order book using 'delta'?

Any documentation or example? @bmoscon

[2019-07-30 08:37] xiandong79 commented on #23
this is not resolved by the lastest version code.

[2019-07-30 08:43] xiandong79 opened #25 "Huobi - TypeError: 'bool' object is not subscriptable"
config.yaml
[code]

Error info:
[code]

**cryptofeed             1.0.0
cryptostore            0.1.0**
Latest code build from source code in github.

[2019-07-30 22:02] bmoscon commented on #25
Huobi doesnt support book deltas, so you have to disable them by setting `book_delta: False`

I'm working on adding support for per exchange configs

[2019-07-30 22:03] bmoscon commented on #23
Book deltas arent supported by poloniex, but they should be. Going to fix this on the cryptofeed side

[2019-07-30 22:30] bmoscon commented on #23
fixed on cryptofeed. its in master, will be in pypi sometime in the near future

[2019-07-30 22:30] #23 closed

[2019-07-31 18:54] nateGeorge opened #26 "Poloniex backfill timestamp issue"
Seems like the timestamp needs to be converted to second since the epoch when backfilling with Poloniex using Arctic:

[code]

[2019-07-31 19:05] nateGeorge commented on #26
It looks like the `unit=s` argument needs to be removed for Poloniex -- it'll work with `pd.to_datetime(df['timestamp'])`.  Not sure how you want to go about doing it though.  A try-except block?

[2019-07-31 23:35] nateGeorge opened #27 "Kraken backfill issue"
This was working before with the pip-installed cryptofeed and cryptostore, but now using the latest github versions it doesn't seem to be working.  Backfill trades data for BTC-USD and ETH-USD results in the following error (using Arctic):

[code]

[2019-08-01 01:46] bmoscon commented on #25
this has been fixed on master

[2019-08-01 01:46] #25 closed

[2019-08-01 01:52] bmoscon commented on #27
some of the data types did change, before too many columns were being stored as strings, but this has since been fixed. There was also issues storing timestamps which has been fixed. You have to remove the arctic symbol, or pull the data into a dataframe, convert the column to a float, and the overwrite the data in arctic.

[2019-08-01 01:54] bmoscon commented on #26
I'll take a look, the date may not be being normalized correctly on the cryptofeed side

[2019-08-01 01:55] nateGeorge commented on #27
Hmm, after a reboot it seems to be working.  Not quite sure why it stopped working originally.

[2019-08-01 01:55] #27 closed

[2019-08-01 02:07] xiandong79 commented on #19
I have notice that "Allow user to specify book specific options like deltas, depths, inte..."
**Great work! and Design!!** .

It would be great that use can specify **different storage_interval** for different persistent storage type.

[2019-08-01 03:53] xiandong79 opened #28 "Coinbase - code 1006 <connection closed abnormally>"
After a while (several hours), the **coinbase websockets** disconnects and gives ConnectionClosed: Websockets connection is closed: code = 1006 <connection closed abnormally [internal]>

It seems that this case has been discussed in the following issues:
https://github.com/aaugustin/websockets/issues/367
https://github.com/aaugustin/websockets/issues/579

I know that cryptostore would reconnect th

[2019-08-01 16:49] e-mulville opened #29 "Bitmex l2_orderbook not doing book_delta"
Subscribing to the order books in config.yml like so:
[code]

With `book_depth: null` and `book_delta: True` then picking up the updates through the zmq pass through I am finding that while Coinbase and Bitmex are giving deltas Bitmex seems to be giving 10 levels of the orderbook each time, like so:

{'feed': 'BITMEX', 'pair': 'XBTUSD', 'delta': False, 'data': {'timestamp': 1564677658.873, 'bid':

[2019-08-02 01:37] xiandong79 opened #30 "bitfinex (all exchanges) - should never stop retry the connection."
in 2019-08-01，bitfinex.com is down for an upgrade.

all API said:
[code]
In bitfinex.com:
“Please monitor bitfinex.statuspage.io and twitter.com/bitfinex for updates.”

However, after bitfinex.com restarted to offer the market data, Cryptostpre or Cryptofeed did not start to colllect the market data.

[2019-08-02 01:54] xiandong79 commented on #30
or with `code: 503`,  the Cryptostpre or Cryptofeed should not stop retry.

[2019-08-02 15:07] nateGeorge opened #31 "Arctic quota exceeded"
After collecting L2 data for a few days, I hit a snag with the Arctic quota being exceeded.  I'm not sure of the best way to deal with this.  Any tips or ideas?

[code]

[2019-08-02 15:23] nateGeorge commented on #31
It also seems this may be related to another issue I noticed, which is the redis memory would max out and crash/cause errors.  I think it's due to the HitBTC trades (BTC-USD).

[2019-08-03 01:15] bmoscon commented on #31
You have to set the quota manually, it defaults to 10 GB. You can do so like so:

import arctic
a = arctic.Arctic('127.0.0.1')
a.set_quota('library_name', size_in_bytes)

[2019-08-03 01:16] bmoscon commented on #31
you need to make sure you have the space for redis, it will store data in memory until its consumed into a storage engine, at which point it should delete the data from redis. make sure the trade interval is set to a reasonable range for your use case

[2019-08-03 01:16] #31 closed

[2019-08-03 01:17] bmoscon commented on #30
I'll but some code in to the config to let the end user set their timeout options

[2019-08-03 01:19] bmoscon commented on #29
bitmex L2 does not support deltas currently. The new config structure allows you to set deltas on individual feeds as opposed to globally

[2019-08-03 01:19] #29 closed

[2019-08-03 20:16] bohuspollak opened #32 "enable redis config for unix domain sockets"
enable redis config for Sockets

[2019-08-03 23:57] bmoscon commented on #32
I assume you mean the unix domain socket?

[2019-08-03 23:59] bmoscon commented on #28
Not sure if this is a question, or something else. I use coinbase, and I've had a connection to them for weeks at a time without seeing this issue, but sometimes it does happen. I dont think there is much that can be done here other than to reconnect. If you turn on websocket's debug facility you'll get much more information (but be forewarned, its a LOT of information).

[2019-08-04 11:31] bohuspollak commented on #32
Yes. Currently Cryptofeed/Cryptostore do not enable unix sockets in config.
I have been looking at the code, trying to add the feature but might be more complex as it touches also the cryptofeed. Looks like the aggregator is creating connection pools only for redis type of connection.
The schema redis:// is hardcoded
https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/backends/redis.py#L5

[2019-08-04 22:37] bmoscon commented on #26
fixed in cryptofeed

[2019-08-04 22:37] #26 closed

[2019-08-04 22:42] bmoscon commented on #29
@e-mulville this has been fixed, the L2 book for bitmex now supports deltas, just make sure you're using the latest version of cryptofeed.

[2019-08-05 06:17] xiandong79 commented on #31
it runs well with 98 pairs in 6 exchanges with redis, influxdb, parquet for more than 2 weeks.
Great work!

[2019-08-05 06:19] xiandong79 commented on #31
@nateGeorge what about your `storage interval`?

 `storage interval` is related to how many data would be stored by Redis (in memeory) until the data be removed to influxdb, parquet or atctic.

[2019-08-05 09:55] xiandong79 opened #33 "aggregator thread died without any notificatin."
Background:
1. Today is a great market day with tons of orders and trades in all exchanges.
2. As you know, the storage_interval for me is 1800 seconds for parquet and 1800 seconds for influxdb.

Case:
when the aggregator thread wants to write the data of Coinbase l3_book_BTC-USDT from Redis to influx or parquet. (I know, using l3_book is not a good idea as I only have 8GB memory. I have changes t

[2019-08-05 09:56] xiandong79 commented on #28
Also, I use l3_book for coinbase currently. I will change to subscribe the l2_book.

I agree with you that "there is much that can be done here other than to reconnect. "

[2019-08-05 09:56] #28 closed

[2019-08-06 04:32] nateGeorge commented on #31
The comment in config.yaml says "# Data batching window, in seconds".  I had it at the value of 60 in the example, then changed it to 30.  The runaway memory issue seems to be due to some other problems, like when the arctic quota is exceeded and/or other problems with a few exchanges.  If the data is not written, it piles up in Redis and crashes, or errors out until cryptostore is re-run (and cle

[2019-08-06 04:32] nateGeorge commented on #31
But for now it seems to be working after I changed the arctic quota for coinbase and hitbtc to a higher value.

[2019-08-06 14:14] bmoscon commented on #30
fixed on master - users can now specify number of times to retry a connection

[2019-08-06 14:14] #30 closed

[2019-08-07 19:46] nateGeorge opened #34 "book_depth parameter for Kraken L2 has no effect"
The `book_depth` parameter in config.yaml for Kraken L2 data has no effect.  So far I've confirmed that the book depth parameter is being read here: https://github.com/bmoscon/cryptostore/blob/3ced53a70671befb49de052796803696e06a38cf/cryptostore/collector.py#L41

My config portion for the Kraken exchange looks like so:

[code]

Loading the data and checking the dataframe shape shows it is only 20

[2019-08-07 19:47] nateGeorge commented on #34
Also, it seems like the book_depth must be nested under l2 or l3, even though it looks like the code only uses one value for book_depth even if both l2 and l3 are present.  If book_depth is not nested under l2, it seemed to give errors.

[2019-08-07 19:51] nateGeorge commented on #34
For now the fix is to set `depth=1000` in cryptofeed here: https://github.com/bmoscon/cryptofeed/blob/de7b2750f8d6d0fa85b06f4843595940ab622d8e/cryptofeed/kraken/kraken.py#L24

[2019-08-07 22:00] bmoscon commented on #34
book_depth doesnt actually control how many levels an exchange sends you, its used to trim excess levels on the cryptofeed end before the data is sent to redis. I've adjusted kraken to 1000, so this shouldnt be an issue any more.

Book depth DOES need to be nested under the book (l2/l3) since its exchange specific. you can have deltas on one exchange and use book depth on another (so its exchange

[2019-08-07 22:00] #34 closed

[2019-08-07 22:00] bmoscon commented on #34
@nateGeorge if you still have issues or questions, do let me know

[2019-08-07 22:42] nateGeorge commented on #34
Got it, thanks for the clarification.

[2019-08-08 17:32] nateGeorge opened #35 "Backfill from earliest-> latest; also small Kraken things"
In the demo config.yaml file, [it says](https://github.com/bmoscon/cryptostore/blob/master/config.yaml#L112):

[code]

However, the actual backfilling happens in reverse -- it starts with the current date and goes backwards.  Every time the backfill process is started, it restarts from the current date and fills all the way to the start date.  Here's an example from backfilling Kraken data:

[code

[2019-08-12 02:18] bmoscon commented on #32
I added support for it on the cryptofeed end, just need to add support for it on the store side. Hopefully in the coming week can resolve/close this out

[2019-08-12 23:23] bmoscon commented on #35
I've updated the config so its clearer. its significantly easier to make the code restartable if it goes from earliest written data until start date (working backwards) since its very easy to get the earliest date out of the storage engines. Because there isnt a forced way to store the data, aggregate, etc its not feasible (in my opinion) to store the last written data date without adding somethin

[2019-08-12 23:24] bmoscon commented on #33
yes, I'll look into making sure an error is logged if the aggregator dies

[2019-08-12 23:28] bmoscon commented on #24
this is a pretty big change, so I will do it, but it may be another week or two until I get to it

[2019-08-13 02:35] nateGeorge commented on #35
I see.  The issue I'm encountering is it restarts the backfill every time and starts from the latest date and then fills over any existing data.  From my experience, it doesn't seem to be working correctly.  Shouldn't it be filling back to any data that exists, then getting the earliest and trying to backfill from there?

[2019-08-14 06:53] xiandong79 opened #36 "Gemini works well in cryprofeed, while not in cryprostore"
config.yaml
[code]

error message:
[code]

latest code of cryprofeed and cryprostore

[2019-08-14 09:02] xiandong79 commented on #24
In feedhandler.py, for **Gemini** exchange, each pair would launch a new feed.
what about the solution of **Bitmex** just **copies** the solution of Gemini?  launch a new feed for every 5 pairs?

Would this method be feasible and cost less reconstruction?

[2019-08-14 23:19] bmoscon commented on #36
fixed - thanks for raising the issue!

[2019-08-14 23:19] #36 closed

[2019-08-15 18:38] otccoin opened #37 "okcoin change into okex！"
okcoin change into okex！

[2019-08-15 23:22] bmoscon commented on #37
Not sure what this means.

[2019-08-16 08:54] otccoin commented on #37
www.okex.com

[2019-08-17 01:12] bmoscon commented on #37
yeah, cryptofeed supports both. okex and okcoin.

[2019-08-18 21:50] bmoscon commented on #37
there isnt enough information for me to discern what the issue is - so closing. feel free to re-open when/if you can supply more information

[2019-08-18 21:50] #37 closed

[2019-08-22 21:58] bmoscon commented on #35
@nateGeorge it should not overwrite anything thats already been written. It could be an issue with the data - if a timestamp was not stored correctly that would cause an issue. I'm working on some major changes to this so once thats done i'll confirm its working as intended with kraken - i know it works with most the other exchanges i use

[2019-08-22 22:16] nateGeorge commented on #35
Ok, I should try with another exchange, but as I said it seemed to be an issue with Coinbase as well.  How would it work with a gap in between the latest backfilled data and the newest data?  Example: if it backfilled from 8-20-2019 to the earliest timestamp, then we collected some data live on 8-22-2019, when we backfill next would it start from today and go to 8-20 or go to 8-22?

[2019-08-25 15:18] bmoscon commented on #32
fixed on master

[2019-08-25 15:18] #32 closed

[2019-08-25 15:20] bmoscon commented on #35
i released the new backfiller. I tested it several times over several days, it works for me. You'll probably need to start with a clean datastore as many things have changed and not everything is backwards compatible, there were also bugs that have been fixed that stored data with the incorrect timestamp that could affect backfill. If it still doesnt work for you, please send me the config you're

[2019-08-26 04:22] xiandong79 opened #40 "[ERROR] with BINANCE on 2019-08-26"
[code]

error msg:
[code]

The program runs well for 20 days. and crash today.
What I have done is update code to the latest version(both cryptostore and cryptofeed)

Also, other exchange runs well

[2019-08-26 07:16] xiandong79 opened #41 "HUOBI_DM - the keys in redis do not match the keys in cryptostore"
@glgnohk @bmoscon  error in the cryptostore!!!

in redis:
[code]

However, in cryptostore, cryptostore wants to save the
[code]

[2019-08-27 00:41] glgnohk commented on #41
I don't know how the cryptofeed backends or cryptostore work. But Huobi does have a different subscription model than other exchanges. See:

https://github.com/bmoscon/cryptofeed/blob/89ede4800e00f6fcba03e9e3e26e8fe7181a23c6/cryptofeed/exchange/huobi_dm.py#L2

and

https://github.com/bmoscon/cryptofeed/blob/89ede4800e00f6fcba03e9e3e26e8fe7181a23c6/cryptofeed/pairs.py#L158

Maybe just need a exact

[2019-08-27 01:42] xiandong79 commented on #41
The data in Redis with key `l2_book-HUOBI_DM-ETH190927` can not be extracted by key `HUOBI_DM-l2_book-ETH_NW`.

So, is the current mapping standard `{'ETH_NW' ：'ETH190927' }` a good idea? Or we should just save
the string of pair with `ETH_NW`?

[2019-08-27 02:05] glgnohk commented on #41
I thought about this when doing HUOBI_DM. If you publish like ETH_CW, then you are going to have to convert it's expiry when you back test. E.g. You use ETH_NW, and today it's expiry is 20190823 for example, then tomorrow it's expiry is 20190830, a completely different instrument.

[2019-08-27 02:08] glgnohk commented on #41
We could possibly change the mapping to {'ETH190927': 'ETH_NW'} in cryptofeed, if that helps with   cryptostore. Anyway, I think that Huobi_DM introduces a model not really planned for initially.

[2019-08-27 09:15] xiandong79 commented on #41
Because the `expire day` may change every day. Using currently method, we may have to relaunch the Cryptostore/Cryptofeed program everyday to get the everyday/active pair mapping.

[2019-08-27 09:19] xiandong79 commented on #41
Maybe use `ETH_NW`, `ETH_CW` directly is easier for the case of HUOBI_DM, and the different instrument with different expire_day can be distinguished by their timestamp in the data.

[2019-08-27 09:43] glgnohk commented on #41
All the other exchanges subscribe and publish using format like ETH190927. For these, you're anyway going to have to resubscribe when the new expiries are listed.

Have you stored data across a Huobi_DM expiry change. I may have and will have to check. I wonder if it just picks up the new expiries automatically? Even if it does, yeah it won't be in the `_std_trading_pairs1` and `_exchange_to_std`

[2019-08-31 21:12] #35 closed

[2019-08-31 21:13] bmoscon commented on #40
this appears to be an intermittent issue, or perhaps your ip was banned - either way it means the REST api request to get the symbol mappings failed

[2019-08-31 21:13] #40 closed

[2019-08-31 21:22] bmoscon commented on #33
fixed on master

[2019-08-31 21:22] #33 closed

[2019-08-31 23:29] bmoscon commented on #41
i'd say these should be done just like the bitmex ones are - you have to look up the symbols explicitly and subscribe to them. XBTUSD is a special case because it never expires, but the other expiring contracts have no mappings, there is a help method to look them up and subscribe. I'd think using the "helper" symbols is fine, but for cryptostore you'll need to use the actual symbol id, i.e. `ETH1

[2019-09-02 02:03] xiandong79 opened #42 "AssertionError in /cryptostore/aggregator/aggregator.py"
[code]

[2019-09-02 02:16] xiandong79 commented on #42
try to fix it by https://github.com/bmoscon/cryptostore/pull/43

[2019-09-02 13:14] bmoscon commented on #42
fixed/merged

[2019-09-02 13:14] #42 closed

[2019-09-09 06:42] xiandong79 commented on #41
is it good to add a judgment in `cryptostore/aggregator/aggregator.py`, and tanslate the ETH_CQ to ETH190927.

[code]

[2019-09-10 02:33] nateGeorge commented on #35
I'll have to try again.  I thought I had just tested a few days ago and still seeing the same issues.  I still think it makes more sense to start at either the earliest timestamp (usually putting in a 0 for the timestamp when fetching data gets the earliest time) and work up to present.  Then storing the latest backfilled data in a db entry so it knows where it's backfilled up to.  I'll have to ma

[2019-09-11 22:44] bmoscon commented on #41
@xiandong79 so you'd use the _CQ symbol in the config but it would be stored under the proper mapping, i.e. ETH190972 ?

[2019-09-11 23:26] bmoscon commented on #24
should be fixed now. I start a separate feed per channel (feed, book, etc) so the message size should be much less for each subscription now.

[2019-09-11 23:26] #24 closed

[2019-09-11 23:28] #4 closed

[2019-09-12 00:25] glgnohk commented on #41
Note that `Bitmex.get_active_symbols()` outputs all traded instruments: futures, swaps, and options (warrants):
[code]

But `OKEx.get_active_symbols()` outputs only futures (there's a separate channel for futures and swaps):
[code]

The function is called  `get_active_symbols()`, so should probably return everything, but we could add `get_active_futures()`. Anyway, just bringing up so we're consis

[2019-09-12 02:37] xiandong79 commented on #24
Will test it today.

[2019-09-12 02:40] xiandong79 commented on #41
yes. in Redis, we have a key like "l2_book-HUOBI_DM-ETH190906", but current Cryptostore would try to get the data by key "l2_book-HUOBI_DM-ETH_CW".

all the HUOBI_DM data would be left in the redis and memory crash finally.

[2019-09-20 08:17] xiandong79 opened #44 "[feature request] exchange-send-time VS arrived-time for orderbook"
From binance.py, we know the `event_time` is recorded in the files/storage.
from biemex.py, we know the `arrived_time` is recorded in the files/storage. Also, we know bitmex exchange does not provide a book_update timestamp for users.

What is the design philosophy of 'timestamp' field in the cryptostore?

why not record 2 timestamps? one is exchange_time, one is arrive_time?
Do you guys need this

[2019-09-22 04:02] zhenpingfeng commented on #44
In my code fork, I just add a recv_timestamp field for myself. I think arrive_time is important for some latency sensitivity trading strategies.
https://github.com/zhenpingfeng/cryptofeed/blob/2f5f192e19a9a1c885ce72d48dd3bcff57758327/cryptofeed/backends/rabbitmq.py#L61-L62

[2019-09-22 10:04] tarahirion opened #45 "[Parquet][bitmex] timestamp nanoseconds precision lost"
Hi all,
when reading back and converting to pandas the parquet file, I noticed the timestamp nanoseconds precision is lost thus rendering the orderbook reconstruction quit difficult.
Do you have any workaround?
Best

[2019-09-22 14:42] tarahirion commented on #45
Sorry if I missed the point but is every orderbook update stored in a new parquet file?
If yes does each parquet contain the full orderbook and not only the level specified in the config.yaml?

[2019-09-22 16:23] #45 closed

[2019-09-23 01:31] bmoscon commented on #45
I saw you closed this, wasn't sure if you had your questions answered @tarahirion .

Every parquet file is NOT  a full orderbook - its all the data within the time interval specified in the config. If your collection interval is 6 hours, each file is 6 hours of data. Assuming you are collecting deltas, you need to find a snapshot and add deltas to that. The snapshot entries will all have the same

[2019-09-23 01:33] bmoscon commented on #44
the timestamp in cryptostore comes from cryptofeed, so I'm not sure what you're asking. Cryptostore should not be adding timestamps to data.

[2019-09-23 01:45] xiandong79 commented on #44
what about adding a arrived_time or received_time in the cryptofeed?

[2019-09-23 06:52] tarahirion commented on #45
Sure, many thanks!
One more little question,
Initially I was able to fetch the x-level orderbook at every update without delta (while using artic) but if I try it now with parquet and I receive an error : WebSocket closed with code 1006.
Is it a normal behavior or something went wrong?

[2019-10-22 19:45] kozy commented on #16
Maybe some sort of standardized heartbeat signal in redis for the feeds is good at first. That way you could know when to close candlesticks as well which is useful. Then when cryptostore detects an inconsistency you could pause the heartbeat, preventing possible finalizing of timeframes downstream, and continue after the missing trades have been downloaded.

Thanks for the great software, a happy

[2019-10-25 10:32] xiandong79 commented on #41
still could not be solved.

the cryptofeed and cryptostore have to be launched every day.

[2019-10-29 16:26] jpic commented on #28
So, do you think reconnection can be done at this lib's level ? ie. try to reconnect, and raise an error only if reconnecting failed N times ?

[2019-11-17 17:24] nskforward commented on #12
redis:5.0.6-alpine
ERR unknown command `XADD mystream * sensor-id 1234 temperature 19.8`, with args beginning with:

[2019-11-17 21:18] #1 closed

[2019-11-17 21:19] #5 closed

[2019-11-27 10:51] likso opened #46 "Kraken Trades Data Issue"
The problem only on Kraken trades data. I had all other exchanges l2_book, trades and ticker setup and running without any problems. Using Redis as cache and Arctic as storage.

Try on both Ubuntu and Mac environment, same errors.

2019-11-27 18:28:54,194 : INFO : Starting cryptostore
2019-11-27 18:28:54,195 : INFO : Cryptostore running on PID 42159
2019-11-27 18:28:54,197 : INFO : Spawner started

[2019-11-27 13:40] bmoscon commented on #46
@likso thanks for the ticket. I'll look into this and get it fixed sometime this week

[2019-11-27 15:16] bmoscon commented on #46
@likso fixed. you'll need to update both cryptofeed and cryptostore.

[2019-11-27 15:16] #46 closed

[2019-11-27 15:38] likso commented on #46
@bmoscon Thanks for the quick fix. Confirm working.

[2019-12-03 04:10] likso opened #47 "Bybit Trades Read Error from Arctic"
The error comes from reading from Arctic, on Bybit trades data only. The error seems only happen with come chunks after 2019-11-29.

Running with latest cryptofeed and cryptostore.

[code]

[code]

[2019-12-03 13:58] bmoscon commented on #47
it looks like a timestamp is being written as a float as opposed to a timestamp. Can you read back the data in chunks (not using a chunk range, but using the chunkstore iterator) and see where the break happens? I'm guessing that the exchange changed their data format, but not sure, will have to look into it

[2019-12-03 14:00] bmoscon commented on #44
@xiandong79 so you want more timestamps, right? I can add optional support for requesting cryptostore received timestamp and cryptofeed received timestamp, but I personally think that the cryptostore received timestamp is not useful, the data is aggregated, so its not realtime. I could add the timestamp from the backend (i.e. redis or kafka) so you could see the exchange timestamp, the cryptofeed

[2019-12-03 15:02] xiandong79 commented on #44
Thanks, really appreciate your illustration.
I think I should customize it myself.

[2019-12-03 15:02] #44 closed

[2019-12-04 06:28] likso commented on #47
All chunks can be retrieved by iterator without any errors. I have two chunks between 2019-11-29 12:00:00 and 2019-11-29 14:00:00.

[code]
It is bit strange that all of the below ranges can be retrieved without any problem.
[code]

But this one below generate the errors.
[code]

[2019-12-08 20:14] hh2010 commented on #44
@xiandong79 were you able to find a solution this?

I am also interested in the exchange timestamp which is currently not available in cryptostore

[2019-12-08 23:55] bmoscon commented on #44
@hh2010 the timestamp is the timestamp from the exchange

[2020-01-11 02:00] bmoscon commented on #21
delta is an indicator if the data is an update or part of a complete orderbook. The complete order book is found where the deltas are false for a single timestamp. Use those to build the initial book. Then apply the deltas (where delta is true) to obtain the book for each interval. Snapshots are periodically stored (this is configurable) so you'll eventually see updates where delta is False again.

[2020-01-17 10:48] smatiush opened #49 "Error running "cryptostore" command from bash"
hi,
i installed cryptostore from pip using the command `pip3 install cryptostore`
the installation went fine but when i execute the command `cryptostore` from the bash to run the storage python gives me back this:

`Traceback (most recent call last):
  File "/home/cg/.local/bin/cryptostore", line 11, in <module>
    sys.exit(main())
  File "/home/cg/.local/lib/python3.6/site-packages/cryptostore/b

[2020-01-17 12:56] bmoscon commented on #49
this seems to mean you have no config file, or at least are not specifying one or running from the correct directory.

[2020-01-18 13:24] smatiush commented on #49
thanks a lot for the answer! now cryptostore is returning `kafka.errors.ConnectionError: ConnectionError: Unable to bootstrap from [('127.0.0.1', 2181, <AddressFamily.AF_INET: 2>)]`
do i need to set up some type of config in kafka?

[2020-01-18 13:25] bmoscon commented on #49
if you want to use kafka, yes. You'll need to have either a working kafka setup or a working redis setup. You'll need to supply the info for those instances/clusters in the config.yaml

[2020-01-18 13:48] smatiush commented on #49
i do have it set up, i did try to config the yaml file by changing the port; is there anything else i should fiddle with?

(attached is my config file)
![Schermata da 2020-01-18 14-47-07](https://user-images.githubusercontent.com/24374501/72664731-84772300-3a01-11ea-9eb3-243aa26126d4.png)

[2020-01-18 19:08] bmoscon commented on #49
the error above indicates that something is wrong with your kafka setup. Kafka is harder to configure and use than redis (in my opinion), so if you're not comfortable debugging kafka you may want to use redis.

[2020-01-20 10:44] smatiush commented on #49
thanks for every answer! very helpful.
the problem was solved installing redis

[2020-01-20 10:44] #49 closed

[2020-01-27 00:04] bonald opened #50 "instrument and open_interest"
Hi,

Is it possible to have instrument and open_interest from cryptofeed too ?

[2020-01-27 14:38] flamby opened #51 "LZ4 decompression failed (ChunkStore known issue): VersionStore usage instead?"
Hi,

I'm facing the concurrent read & write error with the arctic backend, listed here: https://github.com/man-group/arctic/issues/655 (error below)

`LZ4BlockError: Decompression failed: corrupt input or insufficient space in destination buffer. Error code: 465`

I remember having tried [monkey-patching](https://github.com/bmoscon/cryptostore/blob/0df57d644c2e46225b89b8ec484fbf4979d944d2/cryptost

[2020-01-28 01:15] bmoscon commented on #51
version store will definitely break if you attempt to use it because its not designed for continuous writes like you'd encounter with cryptostore.

How are you encountering the error? Reading while writing alone wouldnt cause the issue, you'd have to be doing multiple writes at the same time, or like someone in the original issue mentions, have a write die mid-write. The error you posted above loo

[2020-01-28 16:08] smatiush opened #52 "InfluxDB can't query when using cryptostore"
I've saved all the Bitmex tick data to an influxDB database using cryptostore. The default name cryptostore gave to the DB is "trades-BITMEX". The problem is that influxDB doesn't accept the character "-" in it's queries, and gives me error 400. Is there a workaround for this? Or can I change the default name that cryptostore gives to databases to a custom one and then repopulate?

[2020-01-28 16:24] Konembed commented on #52
You can specify the db name explicitly in the config.yaml to avoid including a hypen in the name., e.g.:

influx:
    host: '<INFLUX_HOST>:<PORT>'
    db: DBNAME
    create: true

[2020-01-28 16:37] bonald opened #53 "cryptostore dies if influxdb doesn't respond"
Hello!

When influxdb goes down for a minute or two, cryptostore doesn't restart it just dies.
It should retry to connect to influx every x. I have to manually restart the process and it looks like redis is not keeping data in cache because there's a gap in the timestamps.

[2020-01-28 22:04] flamby commented on #51
Hi @bmoscon

Thanks for the clarification.

I'm encountering the error simply by reading around 850,000 rows out of 7,000,000 rows in the arctic library (using a `chunk_range`), while cryptostore is writing. But I had it in the past without any filtering.

I don't think it's a memory issue as I monitored it while reproducing the issue, and I had around 64GB of free memory. I don't think I'm doing

[2020-01-31 17:28] flamby commented on #51
Hi @bmoscon
After several tests, i'm now quite sure the issue is due to a mongodb timeout, because my celery workers reading data from arctic don't have a low latency to reach the mongodb database.
when running the arctic tasks on the mongodb server, I can't reproduce the issue.

If you have some recommendations regarding mongodb tuning for arctic, I'll be happy to test them.

closing then.

[2020-01-31 17:28] #51 closed

[2020-02-01 20:37] bmoscon commented on #51
@flamby really you just need to tune mongo for generic performance. https://docs.mongodb.com/manual/administration/analyzing-mongodb-performance/ has some suggestions or there are various other blog posts. The most nodes you add to your cluster, the better the performance should be. you may also want to shard, etc. Depends on how much you want to invest in the mongo setup

[2020-02-01 20:39] bmoscon commented on #52
@smatiush can give you me an example where it wont work? The DB name is no trades-bitmex, thats the table or collection (or however you choose to think about it). I can query from it just fine.

[code]

[2020-02-01 20:41] bmoscon commented on #53
I can change it to retry on the next interval if it can't connect and not clear the data until it successfully writes it to influx. The data may be getting removed when you restart, unless you have the flush cache setting to false

[2020-02-02 19:38] bonald commented on #53
OOk great

[2020-02-06 23:19] bmoscon commented on #50
yes - will work on this soon

[2020-02-07 00:01] bmoscon commented on #52
@smatiush please provide more information regarding this or I'll assume its working for you (since it works for me) and I'll close this.

[2020-02-07 11:48] joelrich opened #56 "Suggestions for book_interval (time interval instead of count)"
With parquet files, I think it makes a lot of sense to only store a single snapshot per file (at the very beginning) since this allows to read files individually.

Alternatively, I would prefer if I could configure book_interval with a time interval, e.g. 24h. This would also make it easier to know how much of the history has to be read to surly have a snapshot while keeping the stored volume smal

[2020-02-08 15:40] joelrich opened #57 "Binance futures: snaphot has no overlap with first update"
I get the "snaphot has no overlap with first update" error pretty often when Binance futures connects. From implementing my own Binance futures integration, I know that the issue can be solved by simply waiting for 2 events before fetching the snapshot.

[2020-02-09 14:06] bmoscon commented on #56
@joelrich I like that idea, its a bit of work, but I do like it. I'll try and get it done later next week or the week after, or happy to take a PR :D

[2020-02-12 00:57] bmoscon commented on #52
going to close this. Please re-open if this issue persists (but please supply more information before doing so).

[2020-02-12 00:57] #52 closed

[2020-02-13 00:36] bmoscon commented on #50
open interest data now supported! The instrument type was removed and was consistently renamed open interest for all exchanges.

[2020-02-13 00:36] #50 closed

[2020-02-15 15:32] bonald commented on #50
updated cryptostore/cryptofeed and changed my config to:

exchanges:
    BITMEX:
        retries: -1
        trades: [XBTUSD, XBTH20, XBTM20, ETHUSD, ETHH20, ADAH20, BCHH20, LTCH20, TRXH20, XRPH20]
        funding: [XBTUSD, ETHUSD]
        open_interest: [XBTUSD, ETHUSD]

but I get no data:
No data for BITMEX-open_interest-XBTUSD

[2020-02-20 10:58] rbdm-qnt opened #58 "TypeError: argument of type 'NoneType' is not iterable"
Hello! When I try to run cryptostore I get the following message. I searched through the issues and found a similar case, and it was solved by installing redis, but I already have it installed and configured. What could be the issue?

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.6/bin/cryptostore", line 8, in <module>
    sys.exit(main())
  File "/Libr

[2020-02-21 00:18] bmoscon commented on #58
that error looks like it cannot find a config file. an example config file is provided. Also python 3.6 is not supported. 3.7+ only.

[2020-02-21 00:28] bmoscon commented on #58
Looking at the code though I'm not sure how you could ever get this error as the config loaders will emit errors if the config file doesnt exist or if the default doesnt exist. Try with 3.7+ and see if the error persists.

[2020-02-22 10:06] rbdm-qnt commented on #58
Updated python and got it to work, thanks!

[2020-02-22 14:43] bonald commented on #50
@bmoscon

[2020-02-23 13:25] #58 closed

[2020-02-23 21:37] bmoscon commented on #50
@bonald the data is not by symbol, its by exchange/data type, so the data is in "open_interest-BITMEX";

so:

select * from "open_interest-BITMEX";

[2020-02-26 19:03] rbdm-qnt opened #59 "Database bottleneck?"
I'm using InfluxDB and getting trade and l2 order book data for XBTUSD, Bitmex.

I tried to get 100 slots of the Order Book instead of the standard 25 (with the delta off), and cryptostore started giving me those warnings:

WARNING : Storage operations currently take 0.4 seconds, longer than the interval of 0

If I try to get more, like 200 slots, it eventually gets to 1 minute and more. Is this a

[2020-02-26 19:55] bmoscon commented on #59
why is the interval set to 0? Thats going to generate a lot of load, it should be set to something like 30, 60, 120, etc.

[2020-02-27 09:20] rbdm-qnt commented on #59
The book interval is not present in the Bitmex part of the config. I tried adding it after book_delta but I got the same exact warning as before, "...longer than the interval of 0".
The good news is if I turn the book_delta on it can take 10 times the depth without any issue!

exchanges:
    BITMEX:
        retries: -1
        l2_book:
            symbols: [XBTUSD]
            max_depth: 200

[2020-02-27 19:01] bmoscon commented on #59
Not book interval, storage interval:

https://github.com/bmoscon/cryptostore/blob/master/config.yaml#L108

[2020-02-28 15:35] rbdm-qnt commented on #59
Set the interval to 30 and it improved slightly. If I keep the delta off it keeps lagging anyway. Gonna use delta, no problem; one last question, if I get a new snapshot every time the OB changes, what does the book interval refer to? Is it the update interval in case there is no new orders in the OB?

[2020-02-29 00:50] bmoscon commented on #59
if you dont use the delta, you're getting full books every time, so with max depth of 200, thats 400 rows to the DB every time there is an update (so multiple times a second). You could be writing 5k+ updates per symbol for that one exchange. Thats a lot of data. Its doable but you'll probably need a dedicated database cluster. With deltas you're just writing the changes each time there is an upda

[2020-02-29 00:56] bmoscon commented on #57
I think this has been fixed - can you confirm? You'll need to use the version in github (of cryptofeed). I just pushed an update a few minutes ago

[2020-02-29 01:55] bmoscon commented on #21
example is here:
https://github.com/bmoscon/cryptostore/blob/master/examples/book_build.py

will build a book update by update from arctic.

[2020-02-29 01:55] #21 closed

[2020-02-29 01:57] bmoscon commented on #19
Going to handle this and some other things as part of #56 so closing while I work on that issue

[2020-02-29 19:23] rbdm-qnt commented on #59
Got it! Thank you for your hard work :-)

[2020-02-29 22:37] bmoscon commented on #59
going to close this since it seems like you're all set. let me know if you have more questions.

[2020-02-29 22:37] #59 closed

[2020-03-01 01:07] bmoscon commented on #56
This is two issues really. I'm going to close this and open another one with the part about snapshots only being at the start of the storage interval.

[2020-03-01 01:07] #56 closed

[2020-03-01 01:10] bmoscon opened #60 "Snapshot control"
see issue #56

Request is that parquet files have the snapshot at the beginning, and then just deltas afterwards. So if files are written every 4 hours, each file would have the snapshot to start with, and then all deltas.

Easy to do, but how do you handle a disconnect? You'd get a snapshot again, even in the middle of a time window. Also, a snapshot and a delta are no different in terms of how y

[2020-03-01 01:11] bmoscon commented on #19
this part of the issue is done/merged

[2020-03-01 08:21] joelrich commented on #60
Yes, this would be great. Is there already a way to get the full order book by calling a a method on an exchange (after the initial connect)?

[2020-03-01 19:08] bonald opened #61 "ModuleNotFoundError: No module named 'cryptostore.util'"
missing module for
get_time_interval

[2020-03-01 19:35] bmoscon commented on #61
fixed

[2020-03-01 19:35] #61 closed

[2020-03-01 21:36] bonald opened #62 "Deribit OI"
No error message when running deribit with open_interest
Mesearuement is created by cryptostore fine.
Redis had the data but nothing gets written to influxdb measurement.

30|cryptostore-DERIBIT  | 2020-03-01 21:23:26,029 : INFO : Reading DERIBIT-open_interest-ETH-PERPETUAL
30|cryptostore-DERIBIT  | 2020-03-01 21:23:26,029 : INFO : open_interest-DERIBIT-ETH-PERPETUAL: Read 1 messages from Redis
30

[2020-03-01 21:45] bonald opened #63 "Feature: Add exchange TAG to influx.py"
We can't really aggregate data into another database without having an exchange tag.
In influxdb, you can't "group by" using measurement name.
So right now we can only use the pair tag, the problem is that exchanges all share the same pair name.

Easy fix:
{data_type}-{exchange},pair={pair},exchange={exchange}

[2020-03-01 22:24] smatiush opened #64 "soket.recv() stuck in infinite error"
hi,
i'm trying a connection via zmq in python,
this is my code:
`import zmq
import json
import time
def socket_trades():
    ctx = zmq.Context.instance()
    socket = ctx.socket(zmq.SUB)
    socket.setsockopt(zmq.SUBSCRIBE, b"BITMEX-trades-XBTUSD")
    socket.connect('tcp://127.0.0.1:5678')
    while True:
        try:
            msg = socket.recv_string(zmq.NOBLOCK)
            yield json.loads(

[2020-03-02 00:02] bmoscon commented on #64
whats the infinite error? If you use noblock its going to raise an error until a message is available.

[2020-03-02 09:33] smatiush commented on #64
![Schermata da 2020-03-02 10-18-07](https://user-images.githubusercontent.com/24374501/75662338-334c8700-5c6f-11ea-8107-fedb1e5680f5.png)
i left the code running for a while, but the function block the exgution of the program, like the "Keyboard Interrupt" return

[2020-03-02 09:42] smatiush commented on #64
![Schermata da 2020-03-02 10-35-20](https://user-images.githubusercontent.com/24374501/75663725-9808e100-5c71-11ea-93db-2083684e597a.png)
i left the code running for a while(more or less 30min), but the function socket.recv() remains stuck and blocks the execution of the program

[2020-03-03 00:51] cheekybastard commented on #64
@smatiush cryptostore/cryptofeed requires python  >= 3.7. The file path in your error msg shows python 3.6 in venv.

[2020-03-03 10:41] smatiush commented on #64
thx @cheekybastard but it didn't solve the problem

[2020-03-04 00:34] bmoscon commented on #64
@smatiush i'll need your cryptostore config to see if i can reproduce it

[2020-03-04 00:34] bmoscon commented on #63
@bonald seems reasonable, I can add this

[2020-03-04 00:35] bmoscon commented on #62
I'll see if I can reproduce it and let you know

[2020-03-05 00:41] bmoscon commented on #62
I'd need to see your config @bonald - I just tested this and worked just fine and I confirmed data was in Influx. I'll also need to see the query you're running to check influx

[2020-03-05 00:47] bmoscon commented on #63
merged

[2020-03-05 00:47] #63 closed

[2020-03-05 02:57] bonald commented on #62
select * from open_interest-DERIBIT

Trades are fine and funding too...
I got it working with cryptofeed also...

Wondering what's wrong with my setup if you have it working on your side.

[code]

[2020-03-05 15:05] joelrich commented on #57
Sorry, I haven't had time to test this yet. But I will eventually update the thread (may take another week).

[2020-03-09 11:36] xiandong79 opened #65 "zmq not receive msg"
[code]

zmq not receive msg

test by `test_zmq.py`

[code]

[2020-03-09 11:47] xiandong79 commented on #65
as I have test_pub.py  and test_zmq_sub.py , they 2 work well toghter

test_pub.py
[code]

test_zmq_sub.py
[code]

[2020-03-09 13:04] xiandong79 commented on #64
I face the same issue I think.

[2020-03-09 13:35] xiandong79 commented on #65
I have config python-> python3.7, python3->python3.7

and even launch by
[code]

[2020-03-09 22:22] rbdm-qnt opened #66 "Memory usage possible issue"
Hi! I'm using a Mac with 10.12.6 OS. When I run redis, influx and cryptostore to get data, I notice my RAM is always 100% full at all times, and if I try to clear it with one of those memory cleaning apps it gets filled up again in less than 5 seconds. Today I just let it run to max all day, and by the end of the day my SSD (that's my only drive, I'm on a macbook) was full, and my terminal froze.

[2020-03-09 22:35] bmoscon commented on #66
redis uses a lot of memory and it will store to disk periodically. I disable that option so its 100% in memory

[2020-03-09 22:36] rbdm-qnt commented on #66
Thanks for the quick reply; where did you edit those settings? Redis config or via terminal?

[2020-03-09 22:37] bmoscon commented on #66
on mac if you installed with homebrew its in /usr/local/etc/redis.conf

[2020-03-09 22:38] rbdm-qnt commented on #66
Thank you very much! Keep up the great work, loving cryptostore so far and your support is great :-)

[2020-03-09 23:02] bmoscon commented on #64
i published sample code in `examples/zmq_pass_through.py`

[2020-03-09 23:02] #64 closed

[2020-03-09 23:02] bmoscon commented on #65
I published sample code in `examples/zmq_pass_through.py`

[2020-03-09 23:02] #65 closed

[2020-03-09 23:07] bmoscon commented on #62
@bonald since i cannot reproduce it I'm going to close this. If you have any additional information that will help me reproduce, please post it here and re-open.

[2020-03-09 23:07] #62 closed

[2020-03-10 03:06] xiandong79 commented on #65
examples/zmq_pass_through.py can work in the local machine, but can not work remotely.

the reason is the cryptofeed/cryptostore does not bind the port/5678 in the system.

in zmq_pass_through.py, `s.bind(addr)` should exist in the server side, which means  cryptofeed/cryptostore should bind the port.

`ss -tnpl`

you can find the port/5678 on the server is not used by any process.

------
also, i

[2020-03-10 03:22] xiandong79 commented on #65
cryptofeed/backends/zmq.py

should be fixed.

please update the code and pip packages.

[2020-03-10 03:27] xiandong79 commented on #65
Further to positioning of two calls , https://stackoverflow.com/questions/27014955/socket-connect-vs-bind

bind() associates the socket with its local address [that's why server side binds, so that clients can use that address to connect to server.] connect() is used to connect to a remote [server] address, that's why is client side, connect [read as: connect to server] is used.

[2020-03-10 23:15] bmoscon commented on #65
ZMQ documentation says: In theory with ØMQ sockets, it does not matter which end connects and which end binds. However, in practice there are undocumented differences that I'll come to later. For now, bind the PUB and connect the SUB, unless your network design makes that impossible.

It will work on remote machines, make sure you have the correct ip and that firewall rules arent blocking the traf

[2020-03-11 11:33] smatiush opened #67 "AttributeError: module 'yaml' has no attribute 'FullLoader'"
hi,
i have a problem running cryptostore, this is the error from bash:

`root@bot1:~/cryptostore/cryptostore# cryptostore
Traceback (most recent call last):
  File "/usr/local/bin/cryptostore", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/dist-packages/cryptostore/bin/cryptostore.py", line 11, in main
    cs = Cryptostore(config=args.config)
  File "/usr/local/lib/pyt

[2020-03-12 05:51] vdbelt commented on #67
Which version of PyYAML are you running?

[code]

[2020-03-12 10:00] smatiush commented on #67
`>>> import yaml

'5.3'
`

[2020-03-12 10:03] smatiush commented on #67
` import yaml

[2020-03-12 22:48] bmoscon commented on #67
Take a look at this:

https://stackoverflow.com/questions/55551191/module-yaml-has-no-attribute-fullloader

Seems to be some issue with the version of pyyaml you have installed, try updating it.

This is not a cryptostore issue though, so closing.

[2020-03-12 22:48] #67 closed

[2020-03-14 18:03] jeffneuen commented on #24
@bmoscon I am still seeing this exact issue, using cryptostore and cryptofeed. I'm running cryptostore using the provided Dockerfile, so it is pulling cryptofeed from master.

I *think* that the problem is coming from the subscribe function in https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/exchange/bitmex.py, line 476. Would you be interested in a PR that attempts to split up long su

[2020-03-14 18:20] bmoscon commented on #24
Theres definitely a limit to the size of the data coming back, so it would need to be subset further. I'll definitely accept a PR. I assume you'd handle this on the cryptostore side and not the cryptofeed side?

[2020-03-14 22:08] jeffneuen commented on #24
I thought I would just try fixing it on the cryptofeed side, and do it in a way that the cryptostore side wouldn't have to change, but I'll have to dive into the internals a little more first. Also, then cryptofeed-only users could benefit as well. Do you see an advantage to fixing it on the cryptostore side?

I haven't experienced the size limit on the return data, but if so, I'll explore ways to

[2020-03-15 13:34] bmoscon commented on #24
You could increase the message size the websocket library uses (i've done that a few times already) but its pretty inefficient for smaller messages, only the initial large message needs it (with the full book). I dont think you can fix it on the cryptofeed side without introducing behavior thats less than ideal for a library. If you start breaking everything up into independent subscriptions, you

[2020-03-16 02:55] jeffneuen commented on #24
In the past, I've had decent luck with just making multiple subscriptions requests on the same websockets connection. The biggest issue I ran into there was when I tried to make each request individually, and hit rate limits, so I just added delays to compensate. That approach also has the advantage that the big initial first book messages don't come batched in one message. What do you think about

[2020-03-23 04:12] xiandong79 opened #68 "ERROR : COINBASE: encountered an exception, reconnecting"
[code]

[2020-03-23 04:13] xiandong79 commented on #68
[code]

[2020-03-24 22:42] chazzmoney opened #69 "Timestamps and timezones"
Two quick questions -

1. Just want to verify that the timestamps used to generate filenames when saving files is UTC?
2. Is there an easy way to add a date into the folder path of the files being saved?

Thank you!

[2020-03-25 00:15] bmoscon commented on #69
yes, all timestamps should be UTC.
to add the date to the path, add it here:

https://github.com/bmoscon/cryptostore/blob/master/cryptostore/data/parquet.py#L70-L71

path = f"{prefix}/{date}/{path}"

where date is whatever date string you create

Since this is a question, I'm going to close this, but feel free to continue to ask questions here, or join the slack and ask them there.

[2020-03-25 00:15] #69 closed

[2020-03-25 00:16] bmoscon commented on #68
I'll take a look. I dont think max_depth and delta are supported on L3 books, but I'd have to confirm.

[2020-03-25 05:17] chazzmoney commented on #69
Thank you for the fast response - very useful!

One more question for you. In the config, I know that you can set the interval. For example, if we wanted to capture every 60 seconds, we would use the interval '60'. I also could use 'M'. It seems like both of these do the same thing - or does 'M' capture right on the start/end of the minute?

The reason I ask is because if I use the {date} piece, I

[2020-03-25 09:53] joelrich commented on #57
Can confirm. Hasn't happened anymore.

[2020-03-25 09:53] #57 closed

[2020-03-26 06:41] chazzmoney opened #70 "Character based intervals do not cause aggregation on clock times"
The test that ensures if an interval is 'M' that it happens on the clock minute is found [here](https://github.com/bmoscon/cryptostore/blob/master/cryptostore/util.py#L13).

This function is called by the aggregator [here](https://github.com/bmoscon/cryptostore/blob/master/cryptostore/aggregator/aggregator.py#L79).

However, when the variable ‘interval’ is passed into get_time_interval, it has alr

[2020-03-31 00:41] bmoscon commented on #70
Can you explain what the issue is. I don't understand the above. What is the interval that causes an issue, and what is that issue?

[2020-03-31 01:02] chazzmoney commented on #70
In the current system, there is no functional difference between the interval 60 and the interval ‘My. The code paths present in util.get_time_interval are not executed.

[2020-03-31 01:09] chazzmoney commented on #70
Per our slack convo, ‘M’ is supposed to aggregate on the clock minute, not every 60 seconds. The existing code will aggregate every 60 seconds even if the config is set to ‘M’.

Additionally, there were several code paths that failed/were broken once the interval variable was corrected. I believe all character based intervals were being incorrectly processed as being the same as the number of seco

[2020-03-31 03:04] xiandong79 opened #72 "No data for BYBIT orderbook for a week"
always reconnect, but still, no data coming.

[2020-03-31 13:51] senma3 opened #73 "Backfill failed for BITMEX"
hi,
i'm trying to do a backfill of trades from bitmex but today i have checked grafana (i use influxdb) my last trade is in the same day when i started cryptostore
`2020-03-31 15:29:39,687 : ERROR : Backfill failed for BITMEX - XBTUSD
Traceback (most recent call last):
  File "/home/cg/.local/lib/python3.7/site-packages/cryptostore/plugin/backfill.py", line 93, in _worker
    storage.write(exchang

[2020-03-31 21:56] bmoscon commented on #73
ah ok - this is a new issue. Looks like the data from backfill is missing the receipt timestamp, which is irrelevant because its not coming in realtime. I'll try and get this fixed this week.

[2020-03-31 22:02] senma3 commented on #73
thanks for your quick replay, i wait news

[2020-03-31 22:29] rbdm-qnt opened #74 "Recent data backfill issue"
Hi!
I've turned on the backfill option on the config (I'm backfilling BitMEX tick data), the backfill works fine for historical data (from 2016 to 2019), but it won't backfilled the hours where I had my computer turned off in the last week. I have 8 hours holes in the database for most days from March 25th 2020 to today. Why could that be?

Thanks in advance!

[2020-04-01 22:52] #70 closed

[2020-04-01 22:53] bmoscon commented on #74
this is because its not currently designed to fill missing data, it will fill from the most oldest data back in time. If you turn it off for 3 days and then turn it back on, it will not fill in those gaps if there is data more recent than that. I'm working on a new backfill that will correct this, but its a complete rewrite of backfill so its not a small task.

[2020-04-02 23:57] rbdm-qnt commented on #74
I understand, good to know. Would be amazing to be able to do this automatically! Thanks for you hard work, looking forward for the next update

[2020-04-02 23:57] #74 closed

[2020-04-04 00:01] bmoscon commented on #72
this has been fixed in cryptofeed

[2020-04-04 00:01] #72 closed

[2020-04-05 20:07] bmoscon commented on #66
going to close this since I believe there is nothing to do. please reopen if you feel something still needs to be addressed

[2020-04-05 20:07] #66 closed

[2020-04-07 10:17] xiandong79 opened #75 "OKEX-SWAP and Future is not work with Cryptostore 0.2.1 with Cryptofeed 1.3.1"
[code]

with config.yaml

[code]

[2020-04-07 10:18] xiandong79 commented on #75
It works well in the demo_xxx.py of Cryptofeed.

[2020-04-08 02:57] xiandong79 commented on #68
max_depth and delta are supported on L3 books

[2020-04-08 02:57] #68 closed

[2020-04-08 12:19] bmoscon commented on #68
@xiandong79 i saw you closed this, is this no longer an issue?

[2020-04-08 13:48] xiandong79 commented on #68
max_depth and delta are not supported on L3 books
the error disappears when I change it to L2 book.

Thanks

[2020-04-09 10:19] feralcab opened #78 "Collector does not connect to redis using unix sockets"
Collector does not connect to redis using unix sockets, when configured to do so.

This sample configuration still results in a tcp connection to redis instead of a unix socket connection.  Redis is configured to accept unix socket connections, and the socket file is created with the correct permissions.

[code]

[2020-04-09 12:19] bmoscon commented on #78
try setting ip and port to null

[code]

It should work then

[2020-04-13 10:39] rbdm-qnt opened #79 "Pandas error while backfilling with parquet"
I configured my save interval to 900s and started a backfill using parquet files. Every time it tries to save it I get this error:

2020-04-13 12:41:18,190 : WARNING : Backfill - encountered error backfilling BITMEX - XBTUSD, trying again...
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/cryptostore/plugin/backfill.py", line

[2020-04-13 10:46] rbdm-qnt commented on #79
This was the last successful save:

2020-04-13 02:46:04,759 : INFO : Backfill - Starting for BITMEX - XBTUSD for range 2016-01-01 - 2020-04-13 00:31:00.024999095
2020-04-13 02:46:04,760 : INFO : Backfill - Reading 2020-04-13 00:00:00 to 2020-04-13 00:31:00.024999095 for BITMEX - XBTUSD
2020-04-13 02:51:20,273 : INFO : Backfill - Wrote 2020-04-13 00:00:00 to 2020-04-13 00:31:00.024999095 for BITMEX

[2020-04-13 23:47] rbdm-qnt commented on #79
Update!
I tried deleting influx, deleting all parquet files and restarting everything. Now it will save the live data correctly as it did before, it will print this without any error, but it won't save files from the backfill:

2020-04-14 00:55:24,861 : INFO : Backfill - Starting for BITMEX - XBTUSD for range 2016-01-01 - 2020-04-13 22:40:15.941998912
2020-04-14 00:55:24,861 : INFO : Backfill - Re

[2020-04-15 00:41] bmoscon commented on #79
dupe of #73

[2020-04-15 01:50] rbdm-qnt commented on #79
Sorry didn't see that. However, the problem solved itself. After I restarted the system it pulled 1D of historical, then nothing (just live data) for about 1.30h, then it pulled 2 more days of data, then nothing again for about 40 minutes, and then it started pulling data very fast, and backfilled 4 years in 3 hours. Kinda odd, but it worked! Thanks

[2020-04-15 03:55] xiandong79 opened #80 "Redis + Parquet -> AWS S3 ERROR"
[code]

[code]

[2020-04-15 05:38] xiandong79 commented on #80
https://github.com/go-redis/redis/issues/1131

[code]

[2020-04-16 16:55] bmoscon commented on #19
reopening because specifying a storage interval per storage type is not supported yet

[2020-04-17 13:52] codesutras commented on #47
I'm facing the similar issue for versionStore as well. Is there any fix available to handle this issue ? All, what I'm doing is that every time, I have to re-generate the data from the date, where I've encountered issue.

Any thought  would be appreciated.

[2020-04-21 00:15] bmoscon commented on #80
@xiandong79 so there isnt an issue, right? it ran out of memory?

[2020-04-28 08:28] #80 closed

[2020-04-28 10:19] feralcab commented on #78
Yup, that worked!

[2020-04-28 10:19] #78 closed

[2020-05-01 23:12] bmoscon commented on #78
i tweaked the code so you can no longer make this mistake again. Thanks for raising.

[2020-05-07 20:47] pierson-we commented on #47
I've been getting the same error periodically when retrieving a chunk range of data. The indices that give rise to the error do not appear to be stored as strings and are indeed Timestamps from what I've been able to investigate. In investigating the index in the entire df (read without chunk_range), the index appeared to be out of order at some point. I confirmed that df.index.tolist() != list(so

[2020-05-07 20:48] pierson-we commented on #47
I just realized that this isn't the Arctic github repository - I am not using cryptostore so I would think this is an Arctic issue.

[2020-05-15 14:34] 0xd1ce opened #83 "Unable to retrieve data from Deribit"
I'm trying to retrieve data for BTC-PERPETUAL from Deribit. I'm new the project, so it's likely that I'm just configuring Cryptostore incorrectly.

The config file I'm using is:
[code]

The results I get, which will continue indefinitely are:
[code]

I had a look at  the part of cryptofeed responsible for handling the Deribit API and found this on lines 39-41 of deribit.py (link below):
[code]
htt

[2020-05-15 14:42] bmoscon commented on #83
volume is not supported on deribit, so that will fail right away.

[2020-05-15 15:08] bmoscon commented on #83
@0xd1ce i dont think you need to close this. Did removing volume fix the issue? If not, let me know and I can test it out

[2020-05-15 15:16] 0xd1ce commented on #83
It did work in the end, I think the issue for me however was actually my IP being blocked by the Deribit endpoint.

I had previously tested a wrong configuration with the timeout set to -1 so it must've blocked my IP(hence also why test.deribit.com was working).

Once I changed my IP and it worked (after removing volume).

[2020-06-26 05:53] yohplala opened #84 "FileNotFoundError: [Errno 2] No such file or directory"
Hi,

New issue, and this time, added in the right repo :).

Ok, I have started Cryptostore after installing it from Git. It seems to work.
I am using Redis, and configured it to save data to a local binary file 'dump.rdb'(following this tutorial: https://realpython.com/python-redis/)
`dbfilename        dump.rdb`

Ok, so the good thing is that I see this file growing over time.

But, now, when it c

[2020-06-26 05:59] yohplala opened #85 "Daemonize cryptostore?"
Hi,

I am new to Cryptostore.
I see there is no mention of daemonizing it in its configuration file (so that once started, the user can use the terminal for something else)

Redis has for instance in its configuration file:
`daemonize         yes`

Is it existing as well for Cryptostore?

Thanks for the feedback.
Bests,

[2020-06-26 20:26] yohplala commented on #84
Hi, I made some more testing this evening.
I removed from the config file all lines regarding backfill plug-in, and when starting Cryptostore, it doesn't tell me anything about backefill, so I assume it has not been started.
But the error message still appear.

Further, I created then manually, before starting cryptostore, the folder 'data', as mentionned in the error message:
[code]

and magic! n

[2020-06-26 20:27] bmoscon commented on #84
you specified the path:

/home/me/Documents/code/cryptostore/data

if it doesn't exist, it will complain

[2020-06-26 20:32] yohplala commented on #84
ok, crystal clear!
well, maybe it could create the missing directories.
all good now, thanks!

[2020-06-26 20:36] bmoscon commented on #84
sure, it could make them if they dont exist, but then if there is a typo in the dir name, the data gets put in a weird place. the documentation could be improved, and the error message could be improved too, so let's re-open this to address those, at a minimum

[2020-07-01 04:28] yohplala opened #86 "How retrieveing data still cached in Redis or Kafka when starting a new app?"
Hi,
Let say I am creating parquet file once a week.
So meanwhile, data is cached in Redis or Kafka.

Let say, parallel to data recording, 2 or 3 days after having started cryptostore, I start a 2nd app to which I will pass data as well (for instance a trading bot).
But this 2nd app needs the data still cached in Redis or Kafka, and I don't want to wait till the end of the week that the data being

[2020-07-01 04:43] yohplala opened #87 "Anchoring storage interval?"
Hi,

storage_interval currently defines an unanchored interval.
Would it be acceptable to make possible use of anchored interval?
For instance, this could be triggered by use of a different time interval string so as not to break current configuration option:
MS: Minute start
HS: Hour start
DS: Day start (midnight)

Thanks for the feedback.
Bests,

[2020-07-02 00:38] bmoscon commented on #87
definitely possible, not really a priority for me since nearly any storage medium will allow you to select data by a date range

[2020-07-02 00:40] bmoscon commented on #86
its unlikely you'll be able to store even 1 day of data in redis unless you are using low volume data (or have a ton of memory), but if you are, you can just read the data out of redis? You don't need anything special from cryptostore, there are some solid python redis libraries that will let you read out the data

[2020-07-02 00:42] bmoscon commented on #85
no, it doesnt. it can be added but then you need a lockfile and a way to determine if its running and provide support for restart, stop, start, status, etc. Kind of a lot of work for little gain. You can run it and move it to the background, nohup it, use multiple terminals, etc. I'd take this as a PR but its not something I'm likely to spend time doing as I don't see the value in it.

[2020-07-10 11:58] yohplala commented on #87
Yes, I agree. The best option I think (given the work on-going on connectors and more specifically the Google Drive connector) is 'simply' to store last and first timestamps as metadata when recording data, so as to be able to query files according it. When I am done with Google Drive connector v1 as it is, I will see if I can extend it this way.

[2020-07-10 12:00] #86 closed

[2020-07-10 12:01] yohplala commented on #85
Ok, thanks,
Closing, there are certainly much more interesting other dev to do.

[2020-07-10 12:01] #85 closed

[2020-07-10 12:50] bmoscon commented on #86
thats going to make it quite slow unless you have a specialized machine for running redis, not saying it can't be done, but definitely better for the volume of data if its all in memory

[2020-07-11 02:27] bohuspollak commented on #85
you can run it under the "screen"
$yum install screen

[2020-07-12 06:25] yohplala opened #89 "Creating `store` object (from `Storage` class) only once every `storage_interval`"
Hello,

Currently, a `store` object (from `Storage` class) is created for each `exchange`/`data_type`/`pair`/`storage_interval` by being located [line 88](https://github.com/bmoscon/cryptostore/blob/7b5d1825294ea9bc0b1d8b8c822718860e48f7dc/cryptostore/aggregator/aggregator.py#L88) in `aggregator.py`.

This is kind of rich. I understand that this makes possible to have a 'dynamic' config, i.e. that

[2020-07-30 19:35] yohplala commented on #89
This ticket is solved in PR #90

[2020-08-01 17:29] bmoscon commented on #47
This is an arctic issue - timestamps are not stored in sorted order

[2020-08-01 17:29] #47 closed

[2020-08-01 17:33] bmoscon commented on #79
the reason it was slow then fast is that for older historical data (older than 24-36 hours) it can and will pull it directly from the AWS bucket, but for recent data it has to go through the bitmex API which is slow.

[2020-08-01 17:33] #79 closed

[2020-08-01 17:33] #83 closed

[2020-08-01 17:35] bmoscon commented on #84
I updated the config to make it more clear the path will not be created

[2020-08-01 17:35] #84 closed

[2020-08-01 17:39] bmoscon commented on #89
This wont work, this creates a class that aggregates the data for that exchange/symbol pair

[2020-08-01 17:39] #89 closed

[2020-08-01 21:55] bmoscon commented on #89
I should also mentioned 2 things:

1. I've been working to make the writes happen in parallel, so another reason this would not work as-is
2. If you want this to happen a few things would need to be done:
  * Any code would need to be threadsafe (i think the google drive code is not based on some docs I saw on the google SDK)
  * Extensive testing - every storage option would need to be tested.

I

[2020-08-02 04:48] yohplala commented on #89
@bmoscon Hi Bryant, as mention in the PR, I have followed their recommandation to make the implementation threadsafe
For extensive testing, I have tested for several hours GDrive connector. (but I need of course to check with your new design), but I cannot test the other storage option. Is it someting you can have a look?

I will have a look to the change you made in the design and update the PR.

[2020-08-04 19:20] yohplala opened #91 "Make accessible compression capabilities of pyarrow for parquet files"
Hi,
I am preparing a PR for making accessible compression capabilities of pyarrow for parquet files.
I have already made some tests and got quite interesting results.

First off, a general benchmark is available [here](https://quixdb.github.io/squash-benchmark/) for miscellaneous codecs (squash benchmark).

The list of codecs available in pyarrow when using `write_table` is available in [pyarrow d

[2020-08-10 12:01] bmoscon commented on #91
@yohplala this can be closed now, right?

[2020-08-10 14:09] deus777 opened #94 "TypeError: read() got an unexpected keyword argument 'start'"
using kafka

File "/home/v/anaconda3/lib/python3.8/site-packages/cryptostore/aggregator/aggregator.py", line 89, in loop
    data = cache.read(exchange, dtype, pair, start=start, end=end)
TypeError: read() got an unexpected keyword argument 'start'

defined in above as
    def read(self, exchange, dtype, pair):

raises exception and dies

[2020-08-10 14:21] bmoscon commented on #94
can you confirm the version of cryptostore you are using? can you also post the config?

[2020-08-10 15:54] yohplala commented on #91
Absolutely! Closing it myself! :)

[2020-08-10 15:54] #91 closed

[2020-08-16 00:19] deus777 commented on #94
dont know how to get the version, its whatever is in the current repo, I looked at the current source
in
./cryptostore/aggregator/kafka.py

read is defined as
def read(self, exchange, dtype, pair):

however is called /cryptostore/aggregator/aggregator.py as
data = cache.read(exchange, dtype, pair, start=start, end=end)

the Redis class defines it correctly with start and end parameters. the Kafka

[2020-08-18 01:04] bmoscon commented on #94
fixed - thanks for raising

[2020-08-18 01:04] #94 closed

[2020-08-18 19:31] bmoscon commented on #73
backfill deprecated/removed. A new version will be released next month, but for now this issue is closed since it no longer applies

[2020-08-18 19:31] #73 closed

[2020-08-18 20:06] yohplala opened #95 "Fetching trade data with Huobi raises a KeyError: <class 'decimal.Decimal'>"
Hi,

When using following config file, I get the error below.

[code]
(saving to Google Drive of course, no use to copy paste this section ;))

Here is the error I get (from `feedhandler.log`):
[code]

I have made a `pip install --upgrade` of cryptofeed and aioredis.
I have also pulled the last version of `cryptostore`, and installed it with `python setup.py install develop`.

Please, do you have

[2020-08-18 20:09] yohplala commented on #95
The error happens at the very start, while no data has been loaded yet, as stated by `cryptostore` logs:
[code]

[2020-08-18 20:12] yohplala commented on #95
Ok, digging further, the error appears only when I retrieve trades, and does not appear if I retrieve only order books.
I am restricting the config file given above to only trade data.

[2020-08-18 20:38] yohplala opened #96 "Adding 'funding' & 'open_interest' to HUOBY_SWAP"
`funding` channel does not appear available for HUOBI_SWAP exchange, nor `open_interest`.
Following config...
[code]
...raises following error:
[code]
Same with `open_interest`.

Please, is it possible to make them available?
Thanks

[2020-08-18 20:42] yohplala opened #97 "Making error message linked to missing channels more understandable"
When a channel is missing for an exchange, the error message does not state which one.
If several channels are requested, this can be confusing.
Actually, when I got the message first, I thought that the exchange name itself was what was causing the trouble.

For instance `funding` channel does not appear available for HUOBI_SWAP exchange.
Following config...
[code]
...raises following error:
[cod

[2020-08-18 20:51] yohplala opened #98 "Fetching 'open_interest' in BINANCE_FUTURES raises websocket exceptions"
Following config...
[code]
... raises following error.
[code]
I couldd check that it raises no trouble with `trades`, `l2_order_book` or `funding`.
Theoretically, if this channel is missing, my understanding is that a `KeyError` should be raised, as for instance reported in ticket #97 .

Reporting this error, but not sure abot the next step:
- either `open_interest` is a missing channel and there

[2020-08-18 23:06] DannyMartens opened #99 "Error While Reading from socket"
Hi,

Using this config:

[code]

gives this error:
![image](https://user-images.githubusercontent.com/37220423/90574019-76e37080-e17d-11ea-87c8-99a94023e462.png)

I may be missing something, but any help would be greatly appreciated

[2020-08-18 23:11] bmoscon commented on #99
Looks like it cannot connect to, or is being disconnected from redis. What version of redis are you using? I've only ever tested on linux/macOS. I don't know if this will or will not work on windows.

[2020-08-18 23:25] bmoscon commented on #95
fixed: https://github.com/bmoscon/cryptofeed/commit/b86407a04698fedbded281793b02c887ae307e13

[2020-08-18 23:25] #95 closed

[2020-08-18 23:28] DannyMartens commented on #99
Ahhh, I'm silly. Windows only has true support up to redis 3.x. And re-reading shows I need 5+. I'll swap to linux. Thanks!

[2020-08-18 23:28] #99 closed

[2020-08-18 23:30] bmoscon commented on #99
Good to know - I wasn't aware windows only had such outdated versions of redis available.

[2020-08-18 23:33] DannyMartens commented on #99
I haven't tested it, but if someone else is set on using windows, they could try using WSL and connecting redis through that.

[2020-08-18 23:36] bmoscon commented on #97
fixed with https://github.com/bmoscon/cryptofeed/commit/e5c20cf69a2e93b2407f698a060029fb1a296bb8

[2020-08-18 23:36] #97 closed

[2020-08-19 07:33] yohplala commented on #95
Thanks @bmoscon  wohaaa, that is fastsupport! :) Much appreciated!

[2020-08-19 07:34] yohplala commented on #97
Thanks Bryant!

[2020-08-19 20:39] yohplala opened #100 "Inconsistent naming of 'USDT' for Bitfinex"
Hi,
Bitfinex is using `UST` instead of `USDT` usually found to name `Tether USD`.
This can be seen on Coingecko which is displaying pair names as it is given by the exchange (or so I think):
https://www.coingecko.com/en/exchanges/bitfinex

When pulling data, following naming works for `ETH`, but not for `BTC`.
[code]

For BTC, this naming works.
[code]

Shouldn't the naming of Tether USDT be consi

[2020-08-19 20:43] yohplala commented on #100
Sorry, wrong bu report.
Naming is consistent and is `USDT`.
Sorry for the misunderstanding.

[2020-08-19 20:43] #100 closed

[2020-08-19 20:50] yohplala opened #101 "Pairs BTC/USDT and BTC/USDT from Kraken not available through Cryptostore?"
Hi,

I tried to retrieve following data for following pairs from Kraken.

[code]
Both of them throw this error:
[code]

However, checking directly on Kraken website, these pairs are both available for trading.
Please, what is wrong?
Thanks for your support.
Bests

[2020-08-19 20:50] yohplala commented on #101
I can confirm I tested other paris like `ETH/USD` and `BTC/USD`, both of them work.

[2020-08-19 23:05] bmoscon commented on #101
fixed

[2020-08-19 23:05] #101 closed

[2020-08-20 07:26] yohplala commented on #101
@bmoscon Bryant, you are terrific! 👍

[2020-08-21 20:35] yohplala opened #103 "Wrong error message with OKEX: 'open_interest' probably not available, says 'ticker_swap' is unknown instead."
Hi,

Trying following config. with OKEX raises below error message.
[code]
Error message:
[code]

A `KeyError:'ticker_swap'` is definitely surprising at this time when I am only requesting `open_interest`.

Bests

[2020-08-24 07:11] xiandong79 opened #104 "ERROR in saving huobi market data into redis with lastest code"
with lastest cryptocstore code

config.yaml
[code]

ERROR msg:
[code]

[2020-08-24 13:19] yohplala commented on #104
Hi @xiandong79
The error you report appears to me to be the same than this I reported some days ago: #95
@bmoscon solved it by a commit in Cryptofeed.
Please, do you confirm you are using the last Cryptofeed version?

Otherwise, @bmoscon , do you think one of your last work reverted the change you made in to solve #95
(was commit  commit [b86407a](https://github.com/bmoscon/cryptofeed/commit/b8640

[2020-08-24 13:21] xiandong79 commented on #104
@yohplala
I use Cryptofeed 1.4.1, maybe the fix is updated in Cryptofeed repo. but has not updated into pip.

[2020-08-24 13:39] bmoscon commented on #104
it has been fixed, fix is in master, this is a dupe of #95

[2020-08-24 13:39] #104 closed

[2020-08-24 19:22] yohplala commented on #103
I confirm, problem is solved, and `open_interest` is actually available!

[2020-08-24 19:22] #103 closed

[2020-08-26 10:44] xiandong79 opened #106 "OKEX does not distinguish futures/swap symbols correctly."
with latest cryptofeed version 1.5.1 and latest cryptostore:

[code]

[code]

[2020-08-27 09:00] yohplala opened #108 "Append parquet files to minimize use of RAM by Redis"
Hi,

This feature request is also related to #19 (_too much files with storage=parquet, each interval for each backend separately is needed_) and is a way to solve, while at the same time addressing another problem #19 is not solving: use of RAM by Redis.

So, my trouble: I am renting a VPS at Hetzner, it has 2GB of RAM and 20GB of disk space.
I am recording about 250 channels (a channel being an

[2020-08-27 23:10] bmoscon commented on #106
You may have a lingering outdated version somewhere. I tried with latest of both packages and it works for me:

2020-08-27 19:09:20,206 : INFO : l2_book-OKEX-BTC-USDT: Read 2691 messages from Redis
2020-08-27 19:09:20,718 : INFO : l2_book-OKEX-BTC-USDT: Removed 2691 entries through id 1598569760174-0
2020-08-27 19:09:20,719 : INFO : Write Complete OKEX-l2_book-BTC-USDT
2020-08-27 19:09:20,719 : IN

[2020-08-27 23:10] #106 closed

[2020-08-27 23:27] bmoscon commented on #98
fixed on cryptpfeed 1.6.0 (unreleased, but in main branch on github)

[2020-08-27 23:27] #98 closed

[2020-08-28 01:21] dsaccon opened #109 "Improve performance of Aggregator"
** Problem **
I am running a configuration with roughly 2000 instrument pairs across a dozen or so exchanges, collecting TRADES data type. Storage is InfluxDB and cache is Redis. storage_interval as per my config file is 10s

I noticed that it was common for the loop in Aggregator that is cycling through these exchanges + pairs to not complete before the 10s is elapsed and thus I would see message

[2020-08-28 20:57] yohplala commented on #108
Hi,
I confirm I clarified most of the logic this evening and started the implementation.
Target to have a 1st code by tomorrow evening that I will check on Sunday evening.
Bests,

[2020-08-29 00:11] bmoscon commented on #109
thats a ton of data, so this isnt that unexpected. I'm working on making the process that takes data from cache to storage run in parallel, so that would solve this issue, assuming your redis instance and influx instance could handle N workers reading/writing simultaneously

[2020-08-29 05:57] yohplala commented on #109
@bmoscon
Bryant, reading you, do you have some pointers to configure redis so that it can handle n workers?
(a tuto?)
At the moment,  i have been using 2 instances of cryptostore, each one with its own port for redis, and each having a different redis service (systemd). So this is not the same case.

[2020-08-29 19:25] bmoscon commented on #109
it can handle thousands of clients by default, you don't need to configure anything for this.

[2020-08-29 19:35] bmoscon commented on #87
actually, this is already done, if you use the letters (1M, 2S, 1H, etc) it will only store data from those intervals

[2020-08-29 19:35] #87 closed

[2020-08-29 19:36] bmoscon commented on #87
see https://github.com/bmoscon/cryptostore/issues/56

[2020-08-30 19:44] yohplala commented on #108
Implemented in PR #110

[2020-08-30 19:44] yohplala commented on #19
Albeit feature not implemented, problem is normally solved with PR #110.

[2020-09-04 14:26] yohplala commented on #60
Hi @bmoscon,

Given my current trouble with Redis, and your answer that I may retrieve too much data, it seems that the next step for me to relieve my server from some workload is this feature.
(at the moment, book delta has its default value: 1000 - I am wondering if I could no reduce 'significantly' the workload by having the full snapshot at the beginning of the parquet file)

You indicate 'eas

[2020-09-04 15:13] bmoscon commented on #60
Its on my radar, but not something I'm doing soon. You can bump that value from 1000 to something higher like 100k or even 1 million.

[2020-09-18 05:23] yohplala commented on #109
Hi @sirdavealot,
Sorry to disturb you.
Please, would you mind giving a test to this develop branch, that aims for improvement of the aggregator?
[code]
And then run your usual config with Influx.

It will not reach the 2s you are targetting, but results should be closer to 12-14s (hopefully)
Most notably peak memory should be reduced but I don't know if you have any way to measure before/after.
I

[2020-09-18 07:08] yohplala opened #115 "Telegram bot to report cryptostore errors"
Hi,

Having setup my 'cryptostore server', I connect from time to time to check if everything is running good, mostly by having a look at `cryptostore.log`and `feedhandler.log`.

Instead of taking time to ssh'ing this server, we could have a cryptostore plug-in forwarding the error messages reported, possibly to `Telegram`, and I guess some professional software engineers here around might want to

[2020-09-18 17:11] bmoscon commented on #115
@yohplala seems like a good ask - there is a ticket on the cryptofeed side to provide callbacks with performance metrics, could probably expose those here

[2020-09-18 20:01] bmoscon commented on #19
I'm going to mark this as closed - #111 fixes the original issue

[2020-09-18 20:01] #19 closed

[2020-09-18 20:08] yohplala commented on #108
Closing / Implemented in PR #111

[2020-09-18 20:08] #108 closed

[2020-09-21 11:55] cryptorevizor opened #116 "Aggregate OHLC values from trades (klines\candles)"
Hi there,

I have a question about how we can aggregete ohlcv faster that binance.

When we are working with binance, and we have 2 solutions for accepting ohlcv directrly from binance:
1. Fetch klines by api request. With this method, if I have, for example, 20 bots on the same vps, I have to divide 1200 requests\minute (rate limit from binance) / 20 bots / 60 seconds = 1 request per second. And

[2020-09-21 12:29] yohplala commented on #116
Hi,
I am sorry, I am quite a newbie on this topic, but I dare to ask some information.

You say:
*Binance recalculates and send new kline when the trade from next time interval will be executed. So, in this case we will have a delay - 2 second + unknown time (until first trade on new bar will be executed)*
Which timeframe are you working with? 1mn?
Do I understand correctly the trouble of liquidit

[2020-09-21 13:01] yohplala commented on #116
PS: out of curiosity, do you use a specific library to manage your trades? I am curious to know. On my side, I only know CCXT, but curious to know if other open source ones exist.

[2020-09-21 13:24] bmoscon commented on #116
@cryptorevizor you probably want to use cryptofeed for that, this project is more for storing all the data (for backesting or whatever you want to do with it later), as such, real time things like that are not really supported. There is a way to get the data in realtime via ZMQ, but its just the raw data, and I wouldnt set this all up just for that, you can get the data via ZMQ and a ton of other

[2020-09-21 14:13] cryptorevizor commented on #116
Hi,
yes, correct, I work with 1 minute klines.
But, it's also useful for 5,10,30 seconds klines.

About "at t0+1s" and "st t0+119s" - yes, it's true. I tested this 3 month ago on IOST-USDT pair. This is pair with poor and weak liquidity. But I work with REST api!

Example for 1 minute klines:
**15:00:00**.01 - first trade, start cande 15:00, open == price for this trade, close value will be last t

[2020-09-21 14:18] cryptorevizor commented on #116
I use backtrader for infrastructure and detect trade conditionals, ccxt for speaking between backtrader and exchange. But it doen't matter, because we can generate orders and fetch data directly by requests module. ccxt is better for me due rate limiter and other methods that have been unified.

[2020-09-21 14:26] cryptorevizor commented on #116
Thanks a lot @bmoscon! I'll try to implement this use RedisTimeseries. After testing, I'll write about how it working and if this method could be applicable and faster then getting directly from binance by websocket.

[2020-09-21 21:05] sirdavealot commented on #109
hi @yohplala - sorry for the delay. Happy to help but note the environment I was running for #109 was slightly different (collecting trades only, no order book data). Running order book for my original config would overwhelm my local machine, or even a powerful machine in the cloud probably. Sounds like this doesn't matter, you just need to confirm it works with influx, right?

Also I saw a commen

[2020-09-21 22:24] sirdavealot commented on #109
@yohplala @bmoscon - in addition to #113 there could probably also be speedups from using the redis pipelining feature. I have had success using it in the past

Considering the sequential calls to read() that happen in the loop in aggregator.py, the idea would be to batch these up using redis pipelines similar to how I batched up the Influx writes in #109. I didn't worry about implementing this at

[2020-09-22 06:11] yohplala commented on #109
Hi @sirdavealot,
Indeed it is just confirmation that it works.
You can select a single pair, use `l2_order_book`, and `trades`. As said speed-up should be more noticable for `l2_order_book`, than `trades`.

I think it is better to have more tests than not enough. :) If for you it is not a big trouble to set this test up, that would be great.
The ideal thing would be to test with current cryptostor

[2020-09-23 00:27] bmoscon commented on #96
this belongs in cryptofeed, not here

[2020-09-23 00:27] #96 closed

[2020-09-23 00:29] bmoscon commented on #96
see https://github.com/bmoscon/cryptofeed/issues/295

[2020-09-23 05:39] sirdavealot commented on #109
@yohplala - I tested and it looks like writes to Influx work with your changes. Can't comment on perf improvement or memory though, only ran with your version. Note, I had to edit the code to reduce the number of writes. Just BITMEX-XBTUSD l2 book had millions of entries for the first storage write when running the script. First time I have used cryptostore to store order book updates (previously

[2020-09-23 07:10] yohplala commented on #109
@sirdavealot, a lot of thanks!
I didn't expect any trouble as the input data to influx.write was double-checked already through other tests I ran, and in influx.write(), I could only see `self.data` being used once  in a `for` loop, but good to have confirmation 👍
Thanks again for the confirmation.

Regarding pipeline, ok, good to know.
Myself, I am sorry, I am prioritizing other devs at the momen

[2020-09-24 03:43] sirdavealot commented on #109
@yohplala - You are right, it was my config settings, messages are reduced now. Thanks for the suggestion

Maybe when I get a chance I'll look at pipelining implementation. But at least from my original use case it looked like writing to storage was a bigger bottleneck in this part of the system.. Is your change for #113 planned to get pulled in btw?

[2020-09-24 06:55] yohplala commented on #109
I hope so. It is already in production since a week on my side. :)

Hi @bmoscon,
Please, let us know if you need anymore details/tests greading PR #113
Thanks

[2020-09-29 00:02] bmoscon commented on #96
funding data now supported on huobi swap

[2020-10-01 00:02] bmoscon commented on #116
I'm going to mark this as closed - it seems the question has been answered

[2020-10-01 00:02] #116 closed

[2020-10-01 00:32] bmoscon commented on #53
fixed!

[2020-10-01 00:32] #53 closed

[2020-10-02 11:44] mschneider opened #117 "Support book_intervals on snapshots without deltas"
book_interval config variable is apparently ignored when not fetching book_deltas. I used the following config to store L2 snapshots. Looking at the code book_interval seems only considered in the `book_delta = True` code path.

[code]

Expected behavior: Store one order book snapshot per symbol per second
Current behavior: Store every order book change, stores more than 10 snapshots per symbol pe

[2020-10-02 12:31] bmoscon commented on #117
If this is a bug, its only a bug in the documentation - its working as intended. book interval only applies when book deltas are enabled. If this is a feature you want, I can change the label, otherwise I'll just update the comments in the config file to be clearer and close this.

[2020-10-02 13:30] mschneider commented on #117
Yeah, wasn’t sure about this being a feature or a bug. Definitely would be
happy if you could track this as a feature request :)

On Fri 2. Oct 2020 at 14:32, Bryant Moscon <notifications@github.com> wrote:

[2020-10-04 00:29] bmoscon commented on #117
Support for this has been added in cryptofeed - just need to add support for it here now

[2020-10-10 00:53] bmoscon commented on #117
ok, i've added this, its called `snapshot_interval`

[2020-10-10 00:53] #117 closed

[2020-10-15 12:39] bmoscon commented on #109
113 is in - i think this will fix many of your issues, if so, let me know and we can close this

[2020-10-15 21:21] sirdavealot commented on #109
@bmoscon you mean the #113 fix will address #109? Looking at the commits I don't think it addresses the main perf issues since #109 is about how the loop in aggregator.py works and this file wasn't touched in #113

Might be best if I test the updated code to confirm and then show you the changes I made on a separate branch

[2020-10-15 21:32] bmoscon commented on #109
i see, i misunderstood the issue. I think the real fix here is to parallelize the writes.

[2020-10-16 11:50] JayCooper95 opened #121 "Redis RDB snapshots"
Cryptostore was configured to save Binance and Coinbase L2 and trade data to parquet files every 10 minutes (storage_interval will be increased in prod this was only done as a test). Run using Redis and after 3 days of running the following error message occurred.

2020-10-15 16:41:06,586 : ERROR : Aggregator running on PID 3467 died due to exception
Traceback (most recent call last):
  File "/hom

[2020-10-16 12:12] yohplala commented on #121
Your disk is possibly full.
Disable saving to disk in Redis conf. It just is useless in this use case. (Google Redis, disabling rdb)
Bests,

[2020-10-20 14:10] mschneider commented on #121
@JayCooper95 make sure to run redis with the correct configuration. The docker-compose file uses cli args, but you could also just adapt /etc/redis/redis.conf if you are working in a regular installation:

For reference:
https://github.com/bmoscon/cryptostore/blob/master/docker-compose.yml#L21

[2020-10-21 13:10] mschneider opened #123 "Bug: Crash in L2 book aggregation"
**L2 Book Aggregator is crashing in master**

[code]

**Example config**
Steps to reproduce the behavior:

[code]

**Expected behavior**
- The same configuration was still working a few weeks ago.

**Operating System:**
 - linux / debian

**Cryptofeed Version**
- master

[2020-10-21 13:13] bmoscon commented on #123
I think i know the fix for this - let me have a look

[2020-10-21 13:14] mschneider commented on #123
thanks! i was just about to look through the diffs..

[2020-10-21 13:22] bmoscon commented on #123
I probably wont fix it until evening time in UTC-4, so if you don't care to wait you may want to do that :)

[2020-10-21 17:03] #123 closed

[2020-11-06 06:54] iamkucuk opened #128 "Folder seperation by days bug"
**Describe the bug**
Bug is happenning with folder seperation by days feature. Once the cryptostore wants to aggregate  the existing temporary parquet file, since the file is placed within the "yesterday's" folder, a file not found exception is thrown.

**To Reproduce**
Steps to reproduce the behavior:
Just enable parquet file aggregation and folder seperation by days feature.

The trace is as fol

[2020-11-06 07:29] yohplala commented on #128
Hi @iamkucuk
Thanks for the report.

@mschneider
Max, I will have a look if the coming days (not right now, I am on other stuff, but likely by end of next week).

I think the code I have done is a bit complicated because is re-building the parquet filename to manage the upload.
At this time, I could not spot a way to retrieve path+filename from `ParquetWriter` property. ([doc here](https://arrow.a

[2020-11-06 08:09] iamkucuk commented on #128
There are 3 approaches I would take:

1. Refactor parquet file saving system: This would require a heavy refactoring in the parquet file saving structure. Every file created should have it's own object (e.g. ParquetFile) which may include buffer, path etc. of the current file. Will take a considerable amount of changes for such bug, but will also prevent feature bugs.
2. Keep the mappings for each

[2020-11-06 14:52] yohplala commented on #128
@iamkucuk

Sol. 1:
I am not sure you are aware of what is `pyarrow` and `ParquetWriter` object. There is everything already developped in pyarrow and no need to develop anything. It is just replacing the 4 lines I have implemented to re-create the file name, by 1 line to query its name and path. Everything is existing, it is only the documentation of pyarrow is not very clear about it and you have

[2020-11-06 21:07] yohplala commented on #128
@iamkucuk

I implemented what I proposed in my 1st answer in PR #130
It simply replaced 3 'awkward' lines (151 to 153) to recreate the file name (with bug inside):
[code]
To a single one:
[code]

Your own PR adds a feature, to store temporary parquet file in a distinct folder.
I don't know if it is needed with the bug you report solved.
Do you see interest in having the files in a separate folder?

[2020-11-07 00:08] iamkucuk commented on #128
@yohplala

Actually, yes. My PR both solves a bug via adding a new feature. The procedure is written under the consideration of TMP files being completely useless unless they are completed and converted to standard parquet files. Adding ".tmp" extension was already a good solution, but I am working within a remote ssh session, which makes getting certain completed parquet files and zipping, moving

[2020-11-07 07:19] yohplala commented on #128
Hi,

Consider the bug is solved now - if we keep parquet appending, my last PR implements the correct way to handle `ParquetWriter` which solves the bug.

I am also retrieving files from a server.
Now that open files end with `.tmp`, I `rsync` only files ending with `.parquet` which naturally excludes thos ending with `.tmp`.

Considering the use case you present (same as mine, except I am not usi

[2020-11-07 09:09] iamkucuk commented on #128
Hello,

I was doing the same thing with the python, gathering only files with .parquet endings. However, this could pose a problem if you are backing up your server, say, once every 4 days. This can demand long listing periods via sftp (around 5-10 minutes), and requires even more time to remotely download every single parquet file (around 40 hours). The idea is, just zipping the whole folder (10-

[2020-11-07 20:07] yohplala commented on #128
@iamkucuk
Thanks for taking the time to elaborate.

@bmoscon @iamkucuk
My proposal (only a proposal) here would be:
- to integrate PR #130 anyway, it simply cleans the code / is the proper way to retrieve name + path of open parquet file from `ParquetWriter`
- regarding PR #129, it serves the same purpose as that of ending open parquet files with `.tmp`, but in a different way (gathering files in

[2020-11-08 12:54] iamkucuk commented on #128
@yohplala

These are some great proposals. I'm willing to update my PR with your solution, getting the name from parquetwriter, proposal, as it seems like it seems like the best solution for that particular bug (or potential future bugs related to that one).

However, I'm also willing to implement all features that distincts a complete parquet file and a temporary one, including .tmp, even if ther

[2020-11-11 19:05] iamkucuk opened #131 "Need a requirements.txt file with fixed library versions"
**Is your feature request related to a problem? Please describe.**
This is known to be a best practice to choose a specific version of a library. It will prevent unwanted breaks, and lets us assume that everyone is on the same page.

**Describe the solution you'd like**
Uhhmmm, a requrements.txt file?

**Describe alternatives you've considered**
Updating the docker file as well, and maybe an envir

[2020-11-11 19:25] yohplala commented on #131
@iamkucuk
I am not an expert of the topic, but it seems to me that lib version is managed in setup.y (starting line 37) except that in our case, pyarrow has no min version.
Bests,

[2020-11-11 19:40] iamkucuk commented on #131
@yohplala
Setup file indeed includes some versioning, but it's not the best thing that using setup.py with a development environment.

[2020-11-12 18:39] GoldenNaim opened #132 "Bug with FTX open_interest"
Hello,
here a part of my config.yaml :
[code]

And the bug when I launch cryptostore :
[code]

FTX open_interest work fine with cryptofeed.
Thank you

[2020-11-12 18:49] bmoscon commented on #132
that error is coming from redis, so it seems like you haven't set that part of the config up correctly.

[2020-11-12 18:51] CryptoFood commented on #132
Very strange, it works with all other :
[code]

[2020-11-12 20:07] yohplala commented on #132
Hi @bmoscon,

I ran into the same trouble when connecting Coingecko feed, and I implemented appropriate check in the function that retrieve the data from coingecko to check when there is a `None` value to replace it with an empty string `''`.
I think it is a limitation of Redis (this is my understanding).

Did the one who made the FTX feed implementation the check with Redis?

I confirm on my side

[2020-11-12 20:13] yohplala commented on #132
But then, yes, maybe there is a way for Redis to support `None` or `null` data. I have actually not checked.

[2020-11-12 20:19] yohplala commented on #132
Well, as pointed in this bug report on Redis Github: https://github.com/aio-libs/aioredis/issues/324
_'This is currently impossible due to a check for None in the args to RedisConnection::execute which involves the creation of a set from said args. '_
Indeed, [line 325](https://github.com/aio-libs/aioredis/blob/master/aioredis/connection.py#L325) of `connection.py`:
[code]
The error seems justifie

[2020-11-12 20:21] CryptoFood commented on #132
Well, how can we do to store FTX open_interest with cryptostore ? Do we need to change some lines in connection.py ?

[2020-11-12 20:40] yohplala commented on #132
Certainly not, I will not want to touch aioredis source, ah ah (I would certainly not :))
Best thing is that Bryant confirms he get the same error.
If he does, it does be a bug.

If he does not, then there does be a bug in our redis installation :)
In the second case, I have no clue where to start looking - I have already spent quite some time optimizing my Redis installation, and a quick Googling

[2020-11-12 20:53] CryptoFood commented on #132
You have probably right for redis :) !
I think I have found how to fix for FTX :

[Line 115 on ftx.py](https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/exchange/ftx.py#L115) :

[code]

Replace timesamp=None by timestamp=0 or time() ?

[2020-11-13 00:57] bmoscon commented on #132
this has been fixed on the cryptofeed side, so I'm going to close this. Thanks for raising the issue!

[2020-11-13 00:57] #132 closed

[2020-11-13 00:58] bmoscon commented on #131
I'm fine with a requirements file, but I won't accept pinning versions. At most things can specify the minimum required version, but there is no reason to pin something and prevent/disallow an upgrade.

[2020-11-13 01:08] bmoscon commented on #131
I added the file. I'd argue setup.py is better because it allows you to install all the optional dependencies. using requirements.txt will not install enough dependencies to allow you to use the software

[2020-11-13 01:08] #131 closed

[2020-11-13 01:13] bmoscon commented on #121
if you need more help, let me know

[2020-11-13 01:13] #121 closed

[2020-11-13 12:40] iamkucuk commented on #131
I would like to oppose that one because using the latest version of software may require constant supervision, as some dependencies may have breaking changes as they upgrade. PyArrow upgrade was a good example for it, and we already experienced a breaking change. I often face this issue with the dependencies I don't specify the version. It's a known best practice within conda, and pypi packages. T

[2020-11-13 12:41] iamkucuk commented on #131
requirements.txt file is not for deploying and using the software, but is for developing it. It's really useful when you create (or replicate) your development environment. So when a developer wants to contribute the code base, but faces some issue, your first question will be "did you replicate the development environment".

[2020-11-13 12:43] bmoscon commented on #131
if there is a breaking change, then we can update setup.py until said change was fixed. The breaking change you are referring to is with some new code, right?

[2020-11-13 16:38] iamkucuk commented on #131
Yes, it was with the PR I mentioned in the first post.

[2020-11-14 22:04] jadaworth opened #138 ""Unauthorized for url" when connecting to Influx"
Hey everyone, please excuse my ignorance, I am very new to using databases.

I am getting the following error when I try to run cryptostore with redis > influxdb. The redis part of the system seems to be working fine (I think).

Maybe related: I am confused what the name of the influx database is supposed to be in the config.yaml file becasue when I setup the InfluxDB using their CLI I set up an o

[2020-11-14 22:38] bmoscon commented on #138
Can you use the latest code from github?

[2020-11-14 23:00] jadaworth commented on #138
Do you mean as opposed to the code installed with "pip3 install cryptostore"?

[2020-11-15 00:29] bmoscon commented on #138
i updated what is in pypi, so you can install with pip now (you'll need a --upgrade if its already installed)

[2020-11-15 01:45] jadaworth commented on #138
Thanks so much for your quick replies and for updating pypi. I rolled back InfluxDB to 1.8.3 from 2.0.1 and updated cryptostore with pip3...and now it is working! Not sure what did it, but given the fact that InfluxDB 2.0 apparently came out within the last few days and looks to have a substantially different interface, I wouldn't be surprised if InfluxDB 2.0 was a large part of the issue.

As an

[2020-11-18 07:19] yohplala opened #139 "Create a 'PARENT' exchange defining 'default' parameters for 'real' exchanges."
**Is your feature request related to a problem? Please describe.**
To simplify option definitions for exchanges in configuration file, proposal is to be able to define a 'default' configuration that will be used by all listed exchanges in configuration files, and only new information defined individually per exchange will overwrite this 'default' configuration.
I see mostly 3 parameters that can b

[2020-11-20 07:20] yohplala opened #141 "Wrong 'channel_timeouts' used by cryptostore?"
**Describe the bug**
An error reported by cryptostore when receiving no data appears inconsistent with the config file.

config file: requested timeout: 90s
[code]
(yeah, I know, there certainly are more thrilling pairs to trade with than USDC/USDT on OKEX :) ah ah)

error message
[code]

This pair seemingly not very active (omg, how surprising ?! :) ) I have `feedhandler.log` filled with this war

[2020-11-30 01:31] jadaworth commented on #128
Is this bug still an issue in the current version of cryptostore from PyPI? I am getting the following error during the first sync after 00:00:00 UTC. It crashes the program with an exception.

`2020-11-30 00:02:50,968 : ERROR : Aggregator running on PID 48007 died due to exception
Traceback (most recent call last):
  File "/home/ubuntu/.local/share/virtualenvs/cryptostore-xkL-viBL/lib/python3.8/s

[2020-11-30 01:56] jadaworth opened #142 "Any way to avoid huge feedhandler.log file size?"
My current feedhandler.log is 1.3GB and crashes VS Code when I try to open it via ssh. This is part question: is there a way to avoid this by splitting the file after a certain size/time is reached? Part proposal: to split this log file into smaller ones?

[2020-11-30 02:01] mschneider commented on #128
@jadaworth which backend are you using?

On Mon 30. Nov 2020 at 02:31, jadaworth <notifications@github.com> wrote:

[2020-11-30 02:02] mschneider commented on #128
Could you send me your config so I can reproduce the issue locally?

On Mon 30. Nov 2020 at 03:01, Maximilian Schneider <
mail@maximilianschneider.net> wrote:

[2020-11-30 12:52] iamkucuk commented on #128
It is. That's why this PR is here.

In the defense of .tmp files storing in a different folder, it provides a solid folder structure, so one will not need to move a .tmp file to the new days folder after its completetion. I already mentioned some usecases for seperate folders, which I'm actively using right now. Others mentioned .tmp file usecases, which means they both have usecases. So, I think

[2020-11-30 12:53] iamkucuk commented on #128
You can just replicate it by collecting data with end of the day minutes. Issue is caused by software trying to rename yesterdays file at todays folder.

[2020-11-30 13:06] iamkucuk commented on #139
This may require all exchanges' symbols have exact same representation. Actually most of them shares the same pair namings. It would certainly be handful. Liked that one!

[2020-12-01 00:08] bmoscon commented on #142
feedhandler.log comes from cryptofeed. I've made a commit there to rotate log files every 10 mb, and to save 10 log files in total (so 100mb of log files). You'll need to upgrade cryptofeed manually to get this fix, or wait for it to be released to pypi

[2020-12-01 00:08] #142 closed

[2020-12-01 00:10] bmoscon commented on #141
I fixed this bug in cryptofeed. OKEX expects pings every 30 seconds or it disconnects. cryptofeed did them every 30 seconds, so occasionally it will disconnect. Ive changed the ping rate to 10 seconds.

[2020-12-01 00:10] #141 closed

[2020-12-01 00:11] bmoscon commented on #138
I'm thinking this is related to influx 2.0. The auth method differs in 1.x vs 2.x. Cryptofeed supports both, cryptostore does not (yet).

[2020-12-10 22:21] jzay opened #143 "Book Build Example"
I'm encountering issues try to test out the book built example.

Is this a working example? It seems like something in the codebase changed the way the data is structured

[2020-12-11 00:20] bmoscon commented on #143
fixed

[2020-12-11 00:20] #143 closed

[2020-12-11 00:22] bmoscon commented on #128
@mschneider do you have an ideas about this? I'm not really a parquet user so I haven't seen the issue myself

[2020-12-12 17:38] bmoscon commented on #24
@jeffneuen just as an FYI - I've fixed this issue in Crytpofeed. The fix will work for cryptostore as well, no change needed on that side. It will be pushed today (doing more testing on my code)

[2020-12-14 17:18] jzay commented on #143
It looks like it gets it right on the first few iterations but then the best Bid & Ask get increasingly further apart from on another. I know the spread isn't $20+ on Bitmex so I'm not sure what's calculating wrong

[2020-12-15 03:32] jeffneuen commented on #24
@bmoscon awesome, thanks! Will give this is a look!

[2020-12-15 22:11] bmoscon commented on #143
I've updated the example to use sorted dicts. Cryptofeed requires is, so it should be installed.

[2020-12-15 22:12] bmoscon commented on #143
also, bitmex doesnt support sequence numbers of book checksums, so its not really possible to know if book data has been lost or not (barring seeing a crossed book)

[2020-12-20 07:29] xiandong79 commented on #128
any updates

[2020-12-20 17:40] jzay opened #144 "Data Storage Randomly Stopping"
Hi, I've been trying to run cryptostore with both mongodb and influx and it's randomly stopping.

Is this a known issue or am I doing something wrong

[2020-12-20 18:38] yohplala commented on #144
Hi, can you be a bit more explicit?
- is cryptostore stopping?
- is it cryptofeed?
- which backend? Kafka or Redis?
- what is looking like your config file? (how many pairs/exchanges/channels)?
- what is your PC config, and most notably amount of RAM?
Thanks

[2020-12-20 18:38] yohplala commented on #144
What does syslog say? :)

[2020-12-21 19:50] jzay commented on #144
I am using cryptostore with Redis and it appears to be stopping. Nothing is showing up as an error in the cryptostore.log file

I will post my config file in the next post. I'm storing L2, Trade, & Funding for Binance, Bitmex and CoinbasePro

I'm using an AWS t2.medium server running linux

[2020-12-21 19:50] jzay commented on #144
`# Cryptostore sample config file

# Redis or Kafka are required. They are used to batch updates from cryptofeed and the storage medium of choice
#
# del_after_read: (redis only) toggles the removal of data from redis after it has been processed with cryptostore.
# retention_time: (redis only) if data removal is enabled (via del_after_read) will allow retention of data in redis for N seconds.
# so

[2020-12-21 19:51] jzay commented on #144
`
# Cryptostore sample config file

# Redis or Kafka are required. They are used to batch updates from cryptofeed and the storage medium of choice
#
# del_after_read: (redis only) toggles the removal of data from redis after it has been processed with cryptostore.
# retention_time: (redis only) if data removal is enabled (via del_after_read) will allow retention of data in redis for N seconds.
# s

[2020-12-21 19:53] jzay commented on #144
`

cache: redis

kafka:
    ip: '127.0.0.1'
    port: 9092
    start_flush: true
redis:
    ip: '127.0.0.1'
    port: 6379
    socket: null
    del_after_read: true
    retention_time: null
    start_flush: true

exchanges:
    BITMEX:
        channel_timeouts:
            l2_book: 30
            trades: 120
            ticker: 120
            funding: -1
        retries: -1
        l2_book:

[2020-12-21 19:56] jzay commented on #144
[Uploading config.txt…]()

[2020-12-21 19:57] jzay commented on #144
[config.txt](https://github.com/bmoscon/cryptostore/files/5726230/config.txt)

[2020-12-21 20:11] bmoscon commented on #144
without having access to the machine its pretty hard to say, but I'd bet money that is a memory issue, when you use too much memory the kernel will kill you. You can see messages indicating this in syslog or dmesg on linux

[2020-12-21 20:42] yohplala commented on #144
@jzay  please can you indicate how much memory has your AWS té.medium, 4GB?
It may be worth to try with a larger amount of memory.

If your install is not optimized, you may need more than 4GB.

For processing the snapshot of L2 book of BTC/USD pair on Coinbase or Binance (BTC/USDT), myself I need about 3GB or RAM on an 'optimized' install.

[2020-12-21 20:48] jzay commented on #144
@yohplala Yes it is 4GB. My data stored for about a day or so before stopping last time I'm restarting it with more memory to see if that helps.

Are you saying you need about 3BG of RAM per orderbook or for both at once?

Also, how do you do an 'optimized' install?

[2021-01-06 05:27] piccolorio opened #146 "Better example how to read data from Arctic?"
I am using book_build.py as an example. Modified to use pandas==1.1.5 so that Arctic would work but still I am not able to read the data. Maybe a better example exists how to read the book, ticker, trades from Arctic?

(.venv) cryptostore$ python read_data.py
cryptostore/.venv/lib/python3.8/site-packages/arctic/_util.py:6: FutureWarning: pandas.util.testing is deprecated. Use the functions in the

[2021-01-06 15:02] bmoscon commented on #146
arctic has documentation: https://github.com/man-group/arctic/blob/master/docs/index.md

[2021-01-06 15:02] #146 closed

[2021-01-14 21:50] jeffneuen opened #148 "Recent update to cryptofeed is causing error when applying cryptostore config"
Cryptostore does not appear to be completely compatible with changes introducted to cryptofeed/feedhandler in this commit: https://github.com/bmoscon/cryptofeed/commit/d81993957b1847879793c89957e32c8e35620d35#diff-9fad70d8501bc6736b79d842f38708a0cb13c76fd0dbcbc8793883cfb9eff685, at least the change on line 166, which was changed to be:

[code]
feedhandler is expecting a single value in self.config

[2021-01-14 21:52] bmoscon commented on #148
its not, you should use the latest version from pypi

[2021-01-14 23:46] jeffneuen commented on #148
Thanks for the quick reply. I was running this by pulling the latest cryptostore from git, then running "docker-compose up --build", after editing the config-docker.yaml file.

If I edit the Dockerfile included with cryptostore to install cryptofeed via pip, I don't get the error, but when I leave it as provided installing cryptofeed via git, I see the error. Looks like cryptofeed 1.6.2 on pypi is

[2021-01-16 00:57] bmoscon commented on #144
going to mark this as closed since its not a bug and there is no code change required here. You can open a thread on the discussions if you have usage questions

[2021-01-16 00:57] #144 closed

[2021-01-16 02:13] bmoscon commented on #148
should be fixed now

[2021-01-16 02:13] #148 closed

[2021-01-17 04:13] FTuma opened #149 "Arctic reads a lot of data during upserts - expected behavior?"
I've been running cryptostore with redis & arctic for some time now and I noticed that the execution times of the Arctic write operations seem to slowly increase with the amount of data stored in each collection.

Looking at the mongodb slow query logs revealed that the bottleneck are reads which seem to go through a lot (~500-35000) of documents/keys before returning only one document even if it

[2021-01-17 07:48] yohplala commented on #149
Hi @FTuma
I cannot give any hint for Arctic because I am not using it.
For Parquet, cryptostore simply dumps new data in a new parquet file. There is no query made on already written data.
Parquet files are sorted by embedding in their name the timestamp at which file is witten.
Bests,

[2021-01-17 15:10] bmoscon commented on #149
yeah book data cant be left at that chunksize long term unless you have a powerful mongo setup. I'd recommend changing the chunksize to hourly, but your redis needs will increase. Alternatively, you can periodically move data from one collection to another (which a different chunk size) or copy it to other storage (parquet, csv, etc).

[2021-01-23 16:54] JamesKBowler opened #150 "ImportError: cannot import name 'LiquidationsStream'"
**Describe the bug**

Hello

When running cryptostore I recieve an import error. Not sure if its a bug or just the way I have installed.

Thank you
James

**To Reproduce**
Steps to reproduce the behavior:
[code]

* Provide config (at least as much as is relevant)
Changed mongodb url to my remote server and hashed out coinbase, elastic and influx keys in the `config.yml` (log below shows config)

*

[2021-01-23 16:56] bmoscon commented on #150
you posted the cryptostore version, not cryptofeed version

[2021-01-23 17:01] JamesKBowler commented on #150
Corrected, Thanks

[2021-01-23 17:37] bmoscon commented on #150
that version of cryptofeed is quite old, you should upgrade it.

[2021-01-23 18:25] JamesKBowler commented on #150
This cryptofeed version is the last one for python3.6. Also on the Artic ReadMe is says supported versions are `Python 2.7, 3.4, 3.5, 3.6` which is what lead me down the path of Python 3.6.

I did try python 3.8 at first but had issues with imports on Pandas.

`ImportError: cannot import name 'Panel' from 'pandas' (/mnt/venv/cryptostore/lib/python3.8/site-packages/pandas/__init__.py)`

Which pytho

[2021-01-23 19:52] bmoscon commented on #150
3.7 should work fine. That error above is from arctic, so try downgrading your version of pandas.

[2021-01-23 20:39] JamesKBowler commented on #150
3.7 produces the same import error as 3.8, then I followed your advice about the pandas version. The latest version I can get working is `pandas==1.1.5`

`pandas 1.1.5` produces a `FutureWarning` which can be seen in the output below.

Some other warnings too.

Would you say this is working now? I can see entries in mongodb.

Thanks

[code]

[2021-01-24 06:00] JamesKBowler commented on #150
Well its been running all night with zero issues.

Time to read the source code : )

Thank you for producing a fine piece of work and the level support is great.

[2021-01-24 06:00] #150 closed

[2021-01-24 14:17] bmoscon commented on #150
@JamesKBowler glad its working :)

[2021-01-29 20:16] FTuma commented on #149
Thanks for your suggestions!

@bmoscon I checked out the trades data which already uses hourly chunks and it basically would have the same issue over the long-term. The problem would just be less severe for the moment because there are not that many documents to scan through but that number is also increasing together over time.
Currently on average ~950 docs are scanned in ~650ms vs ~500 docs in

[2021-01-30 17:03] ph4z opened #153 "Failed to subscribe to open interest on binance futures"
See the error below:

[code]

This is weird because when I directly use cryptofeed to get the open interest it works as expected.
Using other exchanges like okex is ok.
It seems to fail only for binance open interest and just before the connection is initiated.

[2021-02-04 08:12] dirtyValera opened #154 "[Parquet] ValueError: Table schema does not match schema used to create file"
**Describe the bug**
I'm running cryptostore to get l2/trades/ticker feed from Binance for multiple pairs. It works fine first few minutes, but then I get

'2021-02-04 11:01:48,993 : ERROR : Aggregator running on PID 56410 died due to exception
...
ValueError: Table schema does not match schema used to create file:
...
'

**To Reproduce**
I'm using kafka as a medium, storing data locally on disk i

[2021-02-04 08:21] dirtyValera commented on #154
Looks like 'amount' in schema is double while 'amount' in file is int64. Why is it so?

[2021-02-04 15:25] dirtyValera commented on #154
Got another error like this, with a different field now ('size'), same type mismatch: double vs int64
Trace: https://pastebin.com/630QDAHd

[2021-02-05 07:47] yohplala commented on #154
Hello @dirtyValera  hi @bmoscon
I had a quick look at the source and I possibly have some clue.
`size` and `amount` are 2 columns I am not initializing when creating the parquet files, they are inferred.

You have set 60s storage interval, and on your `ETH`-based paris, I would not be surprised there is no trade for 60s.
[code]

Like BNT for instant or SNT. (I don't even know what SNT is :))
So my

[2021-02-10 09:52] dirtyValera opened #155 "[Kafka] UnboundLocalError: local variable 'update' referenced before assignment"
**Describe the bug**
While running cryptostore, I get this exception 'UnboundLocalError: local variable 'update' referenced before assignment' ... at 'cryptostore/aggregator/kafka.py", line 82'

**To Reproduce**
Fetching 150 pairs from binance (l2, ticker and trades)

**Trace**
https://pastebin.com/QCbwPNqS

**Operating System:**
AWS ec2 instance with ubuntu

**Cryptofeed Version**
Latest master

[2021-02-10 10:09] dirtyValera commented on #155
Did some more debugging, this usually happens after I get

[2021-02-10 10:09] #155 closed

[2021-02-10 10:11] dirtyValera commented on #155
Did some more debugging, this usually happens after I get, 'Too many open files' error, so it tries to parse error message which has no 'update' there. Will look into the root issue

[2021-02-10 13:53] dirtyValera opened #156 "[Binance] api/v1/depth Too Many Requests"
**Describe the bug**
When I try to get l2 for a large number of pairs on Binance (>200), my IP gets rate limited.

As I understand, every time a feed is initialised it makes a snapshot request, hence for 200 pairs we get 200 simultaneous requests to depth endpoint. Is there any kind of throttling mechanism to avoid this? Shouldn't this be the same issue for other exchanges as well?

What is the be

[2021-02-10 13:59] bmoscon commented on #156
pretty sure this has been fixed in master on github, are you using the github latest for cryptostore and cryptofeed?

[2021-02-10 14:08] dirtyValera commented on #156
I'm using latest master. If you don't mind, could you explain what's the algorithm to bypass this problem (it will help me to better understand how cryptostore work)? Or show PR with the fix?

Could it be a problem that I'm debugging on the same machine and every time I relaunch cryptostore I send a new set of requests and get limited?

[2021-02-10 19:03] bmoscon commented on #156
ok, I misunderstood the issue. I can subscribe to all 213 pairs and not get rate limited, so I cant reproduce this. What is the error trace?

[2021-02-10 21:58] bmoscon commented on #128
marking this as closed, PR merged

[2021-02-10 21:58] #128 closed

[2021-02-11 06:53] dirtyValera commented on #156
Trace: https://pastebin.com/Z1Cqgpdi

Config: https://pastebin.com/tBnnfgZ9

subscribing to ~240 pairs

[2021-02-16 06:47] grigored commented on #150
I'm seeing the error `ImportError: cannot import name 'Panel' from 'pandas' (/mnt/venv/cryptostore/lib/python3.8/site-packages/pandas/__init__.py)` when running in docker as well. I solved this by adding `RUN pip install --no-cache-dir pandas==1.1.5` in Dockerfile before all the other pip installs

[2021-02-16 11:23] djdjoko opened #157 "Replay from store"
Is there any good example how to replay data from the cryptostore?

Particularly I am interested to have a replay functionality that can merge both live and historical data. Are there any plans on this or what would be the best starting point to implement this within cryptostore?

Thanks for the great project!

[2021-02-16 11:35] djdjoko opened #158 "Storage format performance"
I see that a lot of different storage types are supported which is great. I am mostly interested using cryptostore for full orderbook data. Do you have any suggestion which storage format is most performant for replay purposes?

[2021-02-16 14:21] bmoscon commented on #150
@grigored thats an issue with arctic, not cryptostore.

[2021-02-16 15:56] arian-alt opened #159 "Add ability to use password-protected Redis server"
**Is your feature request related to a problem? Please describe.**
I'm trying to use a password-protected Redis server (currently using a free server from Redis labs to test things out) but it seems there is no easy way to do such a thing

**Describe the solution you'd like**
having the ability to just pass the API key in the config file would be awesome because most of the cloud provided Redis se

[2021-02-21 23:10] emiliobasualdo opened #160 "Cryptofeed error on config"
**Describe the bug**
`TypeError: type object got multiple values for keyword argument 'config'`
python 3.8
Redis server v=6.0.9
mongodb 4.4.4
**To Reproduce**
[code]
* Provide config (at least as much as is relevant)

[code]
* redis or kafka?
 redis
* What behavior did you see?
Error msg and now data saved to mongo.
* Provide any tracebacks if applicable
[code]

**Operating System:**
AWS linux

**

[2021-02-21 23:12] bmoscon commented on #160
version mismatch - newer versions of cryptostore and cryptofeed renamed params, please update to cryptostore

[2021-02-21 23:12] #160 closed

[2021-02-21 23:22] emiliobasualdo commented on #160
Understood, thanks!

[2021-02-23 16:40] emiliobasualdo commented on #154
Same error here. Using Redis & Binance.
[code]

[2021-02-23 20:32] yohplala opened #161 "Weirdness in installing cryptostore with aiohttp 4.0.0a1"
Hi,
I re-installed cryptostore on a new machine.
I did not have aiohttp, so it fetched the last version, the 4.0.0a1.
Then setup checks dependency and refuses to ends correctly the install, telling me:

`error: aiohttp 4.0.0a1 is installed but aiohttp<4.0.0,>=3.7.1 is required by {'cryptofeed'}`

[2021-02-23 20:35] yohplala commented on #161
Same with `idna`

`error: idna 3.1 is installed but idna<3,>=2.5 is required by {'requests'}`

[2021-02-23 21:17] yohplala commented on #154
Hello @emiliobasualdo  hello @dirtyValera
I posted a PR to fix this trouble.
It works on the type of data you reported: `size` and `amount`.
Please, can you give it a check?
(I tested on my side, but not on your config example)

Thanks for your feedback,
Bests,

[2021-02-24 00:30] bmoscon commented on #161
see https://pypi.org/project/aiohttp/#history

3.7.3 is the latest, the 4.0 pre-release candidates are all from 2019. You may need to manually remove it

[2021-02-24 00:30] #161 closed

[2021-02-24 00:32] bmoscon commented on #159
I don't use password protected redis, so its not something I'm familiar with

[2021-02-24 00:33] bmoscon commented on #158
probably parquet or influx, is my guess. There is a newish DB called questDB that is wire compatible with infliux. Supposedly its even faster than influx as well, so that may be worth looking into

[2021-02-24 00:34] bmoscon commented on #157
replaying data will vary by storage medium. For arctic, its pretty easy. You can query the data by whatever date range you want and it gives you a pandas dataframe. From there you can either iterate on it a row at a time (i.e. an update at a time) or in some other block

[2021-02-24 00:36] bmoscon commented on #154
This looks to have been fixed. Please confirm either way. I'll close this ticket out if I don't hear back

[2021-02-24 00:36] bmoscon commented on #153
This should be fixed now @ph4z - but you'll need to use the latest version of cryptofeed from github

[2021-02-24 00:36] #153 closed

[2021-02-24 07:30] dirtyValera opened #163 "[Kraken] ValueError: Valid depths for Kraken are 10, 25, 100, 500 or 1000 - max_depth is not being set if not set in config"
**Describe the bug**
if max_depth is not set in config, it is not being set to default properly when exchange object is initialised

See line 30-32 in kraken.py: max_depth=1000 is not being passed downstream, it passes None instead

Even if I set max_depth in config for l2, the problem is still there if I also add ticker feed in config (since it also initialises Kraken object with empty max_depth)

[2021-02-24 15:35] emiliobasualdo commented on #154
@yohplala @bmoscon Thanks for the answer!

I have tested it an still have the following error:
[code]

Please confirm this is the correct way of upgrading
[code]

[2021-02-24 15:38] dirtyValera commented on #154
I checked the PR with the fix and believe it doesn't solve the issue.

Cherry picking fields to force casting to double is not a scalable solution (as you can see the above example has a new time stamp field which also needs a cast).

Is there any way to cast all fields to the same type?

[2021-02-24 18:27] bmoscon commented on #154
receipt timestamp is not new, its been in the codebase for a while. The traceback posted above has a much more serious issue:

side: dictionary<values=string, indices=int32, ordered=0>

the side should always be a string. Also the comparison of the fields indicates that its comparing a book schema to a ticker schema, so probably something unrelated to this

[2021-02-24 18:31] dirtyValera commented on #154
Yes, my point was that the fix was just whitelisting (to be cast) fields which were reported to be buggy (from my two previous traces). By receipt_timestamp being new I meant that it popped up with the same problem of type mismatch (not that it was just introduced). Hence casting specific fields which people report here is not a viable solution

[2021-02-24 18:41] yohplala commented on #154
@bmoscon, this is not an issue. I turned it into a category (called dictionary in pyarrow world)
This has never been raising any issue on my side, and I confirm when opening a file that it is correctly stored as a category.

[2021-02-24 18:42] dawiepoolman opened #164 "Launch errors"
Hi guys

Sorry if this is a noob question but I get these errors when I run it first time.

PS - Please add Luno exchange?

Error:

C:\cryptostore>cryptostore
2021-02-24 20:38:59,492 : INFO : Starting cryptostore
2021-02-24 20:38:59,493 : INFO : Cryptostore running on PID 20444
2021-02-24 20:38:59,505 : INFO : Spawner started
2021-02-24 20:38:59,516 : INFO : Aggregator started
2021-02-24 20:38:59,

[2021-02-24 18:43] emiliobasualdo opened #165 "Issue upon change on the S3 hosted config.yaml"
**Describe the bug**
This error seems to be from the Cryptofeed library, but the trace from Cryptostore will probably help tp solve it.

When the configuration hosted on S3(as per env.s3config) is changed, cryptostore & cryptofeed successfully manage to change the configurations.
None the less, a small error seems to be occurring in Cryptofeed.

**To Reproduce**
(I have only tried this with the co

[2021-02-24 18:44] bmoscon commented on #165
what version of python are you using?

[2021-02-24 18:45] yohplala commented on #154
Believing is not always a solution ;)

No, I would not want to do that.
All channels go through these rows, including new ones and 'weird one' like MARKET_INFO from COINGECKO and TRANSACTIONS from WHALE_ALERT.
It means an awful lot of different possible columns.

[2021-02-24 18:46] yohplala commented on #154
Yes, this is the trouble. shcema between file and table are certainly never going to match.

[2021-02-24 18:50] yohplala commented on #154
@emiliobasualdo

There is something I don't understand in your config file, the `file_format` parameter is simply:
[code]

@bmoscon, is this not an error. How can it be not catched?
Without the other fileds exchanges, symbol, data_type, how is it you are not overwriting on your own file @emiliobasualdo ?

[2021-02-24 18:52] yohplala commented on #154
@emiliobasualdo I am sorry, i am not a yaml expert, what does mean  `&binance_symbols` in this line:
[code]

[2021-02-24 18:54] bmoscon commented on #154
yes, the file_format would write all updates to the same file. Thats the issue for @emiliobasualdo . You can only use that format if you are only storing one type of data, not 2

[2021-02-24 18:57] yohplala commented on #154
- and one pair, as symbol is not stored for all channels,
- and same for exchange.
You can see it in above example: book does not seem to record feed and symbol.

[2021-02-24 18:58] yohplala commented on #154
Shouldn't we raise an issue if not all 4 words are not in file format?

[2021-02-24 19:00] yohplala commented on #154
Please, could you hilight the error message indicating `receipt_timestamp` is raising trouble? I did not notice it.

Please, can you give it a try on your side?
I 'believe' from your wording that you did not and I would like to make sure the trouble only lies in `file_format`.
Thanks a lot for your help.
Bests

[2021-02-24 19:29] emiliobasualdo commented on #165
`python:3.7.3-stretch`
As per Dockerfile -> `FROM python:3.7.3-stretch...`

[2021-02-24 19:31] bmoscon commented on #165
ok, set_name is python 3.8+ only, ill take a look

[2021-02-24 19:33] emiliobasualdo commented on #165
Again, thanks for the help. The library is great.

[2021-02-24 22:07] bmoscon commented on #165
this has been fixed on cryptofeed

[2021-02-24 22:07] #165 closed

[2021-02-24 22:11] bmoscon commented on #164
do you have redis set up and running on that address? Thats at least one of the errors.

The other error looks related to asyncio + ZMQ and Windows. Are you using ZMQ? If not, you should probably remove that section from the config. Any sections you arent using / havent configured you need to remove.

[2021-02-25 08:10] dirtyValera commented on #154
@yohplala I didn't have this issue with receipt_timestamp, this is what I guessed from @emiliobasualdo's trace. I could be wrong so please feel free to close the issue if it's not related.

[2021-02-25 09:18] tudorelu commented on #148
Having same issue installing cryptostore from pip,
[code]
works with cryptofeed==1.6.2 as @jeffneuen mentioned.

Awesome library, thank you for your time & effort.

[2021-02-25 12:58] dirtyValera opened #166 "[Parquete] Writing to parquete fails with "TypeError: not a path-like object""
**Describe the bug**
Creating parquete file fails. Verified for Binance and Coinbase

**Trace**
https://pastebin.com/1kRCMpVe

**Config**
https://pastebin.com/47izWa69

**Operating System:**
macOS

**Cryptofeed Version**
latest master

[2021-02-25 13:52] bmoscon commented on #166
you are missing this config param: https://github.com/bmoscon/cryptostore/blob/master/config.yaml#L129

[2021-02-25 13:52] #166 closed

[2021-02-26 08:08] yohplala commented on #154
Please, on your side, does the PR solve your issue?
Could you give it a try?

Error reported by @emiliobasualdo is clearly related to the fact that all the parquet files generated by cryptostore at the same second wil have the same name, whatever the exchange, pair and data type so during the same second, files is overwritten x times with x for x different source of data. It cannot work.

But is y

[2021-02-27 08:28] dirtyValera commented on #154
@yohplala, I will test it and let you know, although I believe it should solve the issue

[2021-02-27 08:37] dirtyValera opened #167 "[Parquete + Kafka] receipt_timestamp is bool for l2_book files"
**Describe the bug**
I'm trying to understand if I'm doing something wrong, but it seems like a bug to me. Parquete files for l2 books have receipt_timestamp as bool, and delta as double (with value of a timestamp). Could it be that these two are accidentally swapped? Please see links/screenshots

**File contents**
https://pastebin.com/EEKVAmZF

**File schema**
https://pastebin.com/fpvsV6N1

**Scr

[2021-02-27 08:53] dirtyValera commented on #163
Ping ping, is there any update? Still getting this issue

[2021-02-27 12:43] yohplala commented on #167
Hi @dirtyValera
Using redis and parquet on my side, no trouble.
Would you mind testing redis?
This might then be due to Kafka.

![Capture d’écran de 2021-02-27 13-42-26](https://user-images.githubusercontent.com/13206058/109387448-cb706100-7901-11eb-95f2-9813f7a5410e.png)

[2021-02-28 05:18] mfw78 opened #168 "Reconfiguring exchanges with DynamicConfig"
**Is your feature request related to a problem? Please describe.**
From my understanding, dynamic configuration in `cryptostore` conducts a hard stop / start when re-configuring exchanges. This seems likely to result in data loss for any clients that may be relying upon `pass_through` support, as well as leaving gaps in the data store.

**Describe the solution you'd like**

1. Process to monitor `

[2021-02-28 07:48] dirtyValera commented on #167
@yohplala, Redis seems to be working correctly. What could be the problem here? I thought parquet write logic was independent from the medium.

[2021-02-28 12:08] yohplala commented on #167
Parquet is only an end of the process.
You are seeing this trouble with kafka + parquet, but it does not mean it would not appear with kafka + another storage.
Would be useful to know about the conbination of Kafka + Arctic for instance.

@bmoscon
do you think you could give it a try?

[2021-03-01 08:43] dawiepoolman commented on #164
Hi Bryant

Thx for the tips.

I have simplified the config to:
--------------------------------

cache: redis

redis:
    ip: '127.0.0.1'
    port: 6379
    socket: null
    del_after_read: true
    retention_time: null
    start_flush: true

exchanges:
    BITMEX:
        channel_timeouts:
            l2_book: 30
            trades: 120
            ticker: 120
            funding: -1
        retr

[2021-03-01 16:42] bmoscon commented on #164
that key, storage_interval, is required

[2021-03-02 16:21] emiliobasualdo opened #169 "Sharding of service"
Hi there. So the idea of this project is to collect market data and some of us want collect data for a couple of months, years, etc.

The service could be sharded by creating various simultaneous docker containers to distribute the load of processing many different symbols and data_types.

What do you think? Would this be a recommended practice? Or would you just create 1 container subscribed to a

[2021-03-03 15:04] yohplala commented on #169
Hello @emiliobasualdo,
At some point, if you increase the amount of data, when increasing the amount of data, you reach some limits.
From my own experience, when adding data:

 - the 1st limit I reached was RAM of server. Most notably processing of the full orderbook for some much traded pairs (like BTC/USD on Coinbase) require up to 1,8Go of RAM.   => I moved from a 2Go to 4Go server
    The poin

[2021-03-03 16:28] kaznak opened #170 "Error when invoking `docker-compose up`"
Hello

To try Cryptostore, I invoked `docker-compose up` on the `docker-compose.yml` file but met several errors.
I tried to fix it, but they're still some errors. Please help me.

The fixed repository is [here](https://github.com/kaznak/cryptostore/tree/wip).
One of the errors is about the old version of the arctic. So I updated the `Dockerfile` with some fix as pasted after.

But still, the foll

[2021-03-03 18:09] bmoscon commented on #170
the error from mongo is:

mongo          | {"t":{"$date":"2021-03-03T16:12:16.849+00:00"},"s":"E",  "c":"STORAGE",  "id":22435,   "ctx":"initandlisten","msg":"WiredTiger error","attr":{"error":28,"message":"[1614787936:849345][1:0x7fb51c291a80], connection: __log_fs_write, 218: journal/WiredTigerTmplog.0000000001: fatal log failure: No space left on device"}}

there is not space left on the device

[2021-03-04 09:07] dirtyValera commented on #163
Created PR with the fix https://github.com/bmoscon/cryptofeed/pull/428

[2021-03-04 10:34] walter211 opened #171 "Anybody who can maintain an all supported config template file?"
I am trying to deploy other exchange by using cryptostore, confuse about the config.

Hope someone can miantain a cryptostore supported config for all these exchange

[2021-03-05 17:23] emiliobasualdo commented on #169
Thank you very much for the help! I also have a loooot of pairs, so I'll move to the third step directly.
Regards!

[2021-03-06 15:10] kaznak commented on #170
Thank you for answering. After [fixing the problem](https://github.com/kaznak/cryptostore/tree/wip) you pointed out, it seems to be working.
But still, one error is remaining the following. It says symbol `XBTUSD` does not exists. But I retrieved `XBTUSD` data by the cryptofeed. I wonder what is wrong...

[code]

[2021-03-06 17:46] bmoscon commented on #171
Every exchange, every symbol, every data channel is unlikely to work on the average user's setup, so its not something I want to have in the codebase. People will see it, try it, and assume because its provided it should work, when it will likely not

[2021-03-06 17:46] #171 closed

[2021-03-06 17:47] bmoscon commented on #170
if you are using the latest version from cryptofeed, the bitmex symbols have been normalized, so its BTC-USD now, not XBTUSD

[2021-03-06 17:47] #170 closed

[2021-03-06 18:33] bmoscon commented on #163
fixed in cryptostore

[2021-03-06 18:33] #163 closed

[2021-03-06 18:34] #164 closed

[2021-03-06 18:43] bmoscon commented on #168
if only need things need to be added, that would be an easy thing to add, but currently no exchange in cryptofeed supports unsubscribes, so while its do-able, its a lot of work, and I have other higher priority things i'm working on. I'll take a PR if its something you (or someone else) wants to implement

[2021-03-06 21:48] JamesKBowler opened #172 "Capped Collections"
Hello,
I have limited storage on the mongodb server and therfore I would like to set this application to make use of Capped Collections.
https://docs.mongodb.com/manual/core/capped-collections/

Is this possible?

Thanks

[2021-03-06 21:58] bmoscon commented on #172
cryptostore doesnt support mongo - so the answer is no, its not supported. Anything is possible if someone spends the time implementing it, but its not something I'll be doing anytime soon

[2021-03-06 22:53] JamesKBowler commented on #172
ok, that's confused me further because cryptostore is using Arctic which I guess use's mongo.
[code]

[2021-03-07 00:17] bmoscon commented on #172
Cryptostore supports arctic, and arctic uses mongo. Arctic does not support this collection type.

[2021-03-07 05:55] JamesKBowler commented on #172
Thanks for clearing that up.

[2021-03-07 05:55] #172 closed

[2021-03-07 09:54] kaznak commented on #170
That seems to be working. Thanks!

[2021-03-13 12:04] quazzuk opened #173 "pyarrow date partitioned dataset support"
Hi

I'm just wondering whether there are any plans to support [pyarrrow partitioned datasets](https://arrow.apache.org/docs/python/dataset.html) as a storage engine? I have other tick level datasources stored as date partitioned datasets and was just examining the cryptostore source to see how best to support this format directly, avoiding intermediate copies and additional data processing.

Do yo

[2021-03-14 05:20] xiandong79 opened #174 "about the BITMEX confusion in config.yaml"
With the lastest commit in config.yaml, now the **XBTUSD** symbol from BITMEX has been changed to **BTC-USD**, however, in the comments, line 28 of config.yaml

[code]

It would be confused to how to config the symbols from BITMEX. @bmoscon

[2021-03-14 09:13] yohplala commented on #173
Hi @quazzuk
Not on my side, and I have in mind Bryant is using Arctic, so except if someone is ready to take the topic, I guess it is unlikely.

Yes this does not work exactly this way: you specify a storage interval, and number of times you append; If there is new data always, then there is always something to append, and with some parameter values, you end up in having 1 or 2 hours of data to th

[2021-03-14 13:22] bmoscon commented on #174
updated

[2021-03-14 13:22] #174 closed

[2021-03-14 14:18] qinghuangchan opened #175 "kafka callback in cryptostore collector wrongly labels kwargs 'bootstrap' as 'host'"
**Describe the bug**
A clear and concise description of what the bug is.

In `cryptostore/collector.py` line 77
`kwargs = {'host': self.config['kafka']['ip'], 'port': self.config['kafka']['port']}`

However, in `cryptofeed/backends/kafka.py`, the KafkaCallback expects
`def __init__(self, bootstrap='127.0.0.1', port=9092, key=None, numeric_type=float, **kwargs):`

**Cryptofeed Version**
Master

[2021-03-17 09:15] quazzuk commented on #173
@yohplala thanks for the pointers, I'll take a look...

[2021-03-23 16:02] mattgrint opened #177 "S3 Parquet file_format"
When using Parquet with S3, it seems that the file_format configuration parameter is overridden to make the transfer to S3. For example, if we use the file_format: [exchange, data_type, timestamp], the .parquet.tmp files will aggregate on the local disk but then transfer into a file path including [exchange, data_type, symbol, timestamp].

This appears to lead to incorrect (dis)aggregation behavio

[2021-03-24 06:38] yohplala commented on #177
Hi @mattgrint

This behavior is normal and 'legacy' behavior. See [line 166 in `data/parquet.py`](https://github.com/bmoscon/cryptostore/blob/5181e715cff5dc97108b81800f9eb800b176b00e/cryptostore/data/parquet.py#L166), where when transferred to a distant storage (GCS, GD or S3), file name is forced.

[code]

I think your formulation is incorrect.
I think the trouble is not when files are transferre

[2021-03-24 06:44] yohplala commented on #177
@mattgrint
I think I understand now why you don't use `symbol` in `file_format` while you are collecting data for different symbols.
This is because you are transferring to S3, and that data is then moved into a directory which name embeds this inforation, right?

Please, also check if using `symbol` in `file_format` solves your trouble.
I am guessing it will.

[2021-03-24 08:01] mattgrint commented on #177
Hi @yohplala

Thanks for the helpful response.

Yes, I think we are getting at the same core point - the files are saved to the local disk after discarding information about which file contains which symbols, so cannot then be written out to S3 with symbol-level precision in their naming without searching every file to see which symbols it contains and splitting it out again.

My specific use case

[2021-03-24 17:28] yohplala commented on #177
I don't have the mind completely clear about the transfer step and I am amazed by the result you mention.

1st parquet appending to local:
What you think is a feature is actually an unexpected behavior :) or at least one I was certainly not expecting this use case when implementing appending.

Data for each symbol is **supposed** to be tracked independently of what happen for other symbol and **su

[2021-03-26 13:25] JamesKBowler commented on #156
Hi, I also get this error when subscribing about 250 pairs.
Currently running latest version.
[code]

[2021-03-28 10:36] JamesKBowler commented on #156
Apologies, I was running against `cryptofeed-1.6.2`. I have this setup on two different servers. `cryptofeed-1.7.0` does resolve this issue.

[2021-03-28 22:59] bmoscon commented on #156
yeah the issue is specific to book subscriptions because of the need to subscribe to the snapshots. Cryptofeed will need to be modified to reduce the number of requests issued at a time (something like a sleep between each rest request) or catch and handle the 429s (sleep when one is received). I dont subscribe to all symbols on any exchange, so its not a use case I personally encounter. It will e

[2021-03-30 11:44] JamesKBowler opened #181 "InfluxDB L3/L2 Books very slow."
Hello,
I have cryptostore working on InfluxDB 2.0 using [influxdb-client-python](https://github.com/influxdata/influxdb-client-python) and a few visual charts setup on the GUI. Every so often (on `book_interval`) data seems to stop writing to InfluxDB. Further digging around and it looks like problem is the `ts` logic in these two `elif` statements.

[code]
Orderbooks can take minutes to iterate o

[2021-03-30 11:53] JamesKBowler commented on #181
added zip file which contains pickled `self.data`.

[2021-03-31 17:33] JamesKBowler commented on #181
The orderbook pickle has 83260 entries and 81057 timestamp modifications are made to provide timestamp uniqueness, therefore current code process carries out many iterations.

Very simple example

[code]

adding this fuction to the influx.py file.
[code]

and modify the elif statements.
[code]

[2021-04-03 15:46] JamesKBowler commented on #181
ok this is a harder problem to solve than I initially thought, well at least for by brain. No matter how I construct the DataFrame I end up needing to know a future calculated value. The problem with the above code is they mess with order of the data. Other issues like no cumsum reset so every value ends up getting incremented even if its not required. Even when I add a cumsum and its resets the r

[2021-04-03 15:53] bmoscon commented on #181
Personally I think timeseries databases that have this timestamp restriction are ill suited to book data, unless you have a specific use case (like only saving top 10 levels) in which case you can add the appropriate tag for each level to make them unique. The influx best practices guide recommends two things to store this sort of data (duplicate timestamps), and I opted to increment the timestamp

[2021-04-03 15:54] bmoscon commented on #181
So, I (or someone else) can make this change - store the entire book/delta as a json blob. I'm not sure if it will work for the very large updates (I havent seen anything about a max len) so it may not be possible

[2021-04-05 10:21] dirtyValera opened #182 "RuntimeError: Failed to initialize thread local storage"
**Trace:**
https://pastebin.com/RaqNkQU3

**Config:**
https://pastebin.com/Nrn1yUu7

**Operating System:**
macOS

**Cryptofeed Version**
master

[2021-04-05 11:08] dirtyValera commented on #156
@bmoscon how many pairs is it safe to use from your experience?

[2021-04-05 13:31] dirtyValera commented on #167
@yohplala, not directly related to the issue, but I have a question regarding timestamp field precision. It looks like the real value is truncated when being stored in parquete. If I subscribe to kafka topic I get higher precision. If I read parquete file with pandas and for example call diff() on the timestamp column I get zeroes. Is it a bug?

[2021-04-05 17:46] yohplala commented on #167
Hi, please, could provide an example? I am not sure to understand.
On my side, timestamp is inferred by pyarrow library as a float64. Because of float64 type, it is possible that there is 'approximation' of value.
Then, up to you to convert it into a datetime64 through pandas indeed.
I don't know how is managed timestamp through Kafka.
Bests,

[2021-04-06 08:36] dirtyValera commented on #182
was setting 'path' key for parquete files incorrectly, closing

[2021-04-06 08:36] #182 closed

[2021-04-27 19:45] krishvishal opened #183 "No data for COINBASE-l2_book-BTC-USD"
**Describe the bug**

**To Reproduce**

python 3.8
Redis server v=6.0.6
mongodb 4.4.5

Steps to reproduce the behavior:
[code]
* Provide config (at least as much as is relevant)
[code]

* redis or kafka?
redis
* What behavior did you see?
For binance the above config worked fine but with coinbase L3 and L2 book its failing. I'm able to access coinbase L3 and L2 api from this machine.

* Provide an

[2021-04-27 22:47] bmoscon commented on #183
why is book interval set to 0?

[2021-04-27 23:07] krishvishal commented on #183
I was changing the book interval to different values for testing. The default book interval value also results in the same behavior.

[2021-04-27 23:45] bmoscon commented on #183
I have no problems with coinbase:

2021-04-27 19:43:51,073 : INFO : Reading COINBASE-l2_book-BTC-USD
2021-04-27 19:43:51,073 : INFO : No data for COINBASE-l2_book-BTC-USD
2021-04-27 19:43:51,073 : INFO : Reading COINBASE-trades-BTC-USD
2021-04-27 19:43:51,074 : INFO : No data for COINBASE-trades-BTC-USD
2021-04-27 19:43:51,362 : INFO : Collector for COINBASE running on PID 5309
2021-04-27 19:44:50

[2021-04-28 02:38] #183 closed

[2021-04-28 11:37] bmoscon commented on #183
@krishvishal were you able to resolve the issue? What was it?

[2021-04-28 11:39] bmoscon commented on #138
cryptostore supports influx 2.x+ only now, so marking this as closed

[2021-04-28 11:39] #138 closed

[2021-04-28 13:44] bmoscon commented on #183
no, it doesnt delete anything. it just controls how frequently complete snapshots are written, so 100000 means after 100k deltas you'll get the complete book written, then 100k deltas, then the snapshot, then 100k deltas, etc.

[2021-04-29 07:54] dirtyValera commented on #167
Still able to reproduce

[2021-05-05 00:19] bmoscon commented on #175
this has been fixed

[2021-05-05 00:19] #175 closed

[2021-05-14 11:48] BlackWingedKing opened #185 "Candle Data with arctic db"
How do I get candle data from BINANCE? (I'm saving the data in arctic)

I have followed the config given in [this PR](https://github.com/bmoscon/cryptostore/pull/179)
here is my `config.yaml` exchanges field
[code]

The error which I get

[code]

[2021-05-16 00:07] bmoscon commented on #167
I'll try and reproduce this locally this week

[2021-05-17 12:24] BlackWingedKing commented on #185
@bmoscon can you look into this error?

[2021-06-01 03:55] dirtyValera opened #186 "How to restart container when one of the processes fails? How to track service health?"
I'm encountering an issue where if one of the cryptostore processes fails (e.g. aggregator or collector) the container still keeps running without being restarted. What is the best practice if I want to restart a container if one of the processes fails (e.g. if we use Kubernetes)?

For example, in Kubernetes there is a tool called liveliness probe, which essentially calls a script/endpoint in a co

[2021-06-03 18:11] peske opened #187 "Docker: Stop Cryptostore if Aggregator crashes"
First thanks for this piece of art!

I'm running Cryptostore in Kubernetes cluster (Docker image created by using your `Dockerfile`), and I have problem with the following behavior:

When Cryptostore process is started, it launches additional Aggregator process. For different reasons it may happen that Aggregator process crashes, but Cryptostore process continues to run as if everything is OK, kee

[2021-06-03 22:40] bmoscon commented on #187
yes of course. It would need to do something to notice that it had crashed and then raise an exception, but definitely possible

[2021-07-08 17:48] yohplala opened #189 "Typo in feed naming?"
**Describe the bug**
I have started cryptostore (last version of cryptofeed and cryptostore) about 2 days ago, and since about 12 hours, I have a continuously repeating warning & error, every 1s that says:
[code]
I have other websocket connections for this server that work fine, and I have other servers in parallel, connecting to Binance for other pairs, with http and websocket which are working f

[2021-07-09 13:57] yohplala commented on #189
Hi,
I have restarted a second server and am about to stop that one onto which are being issued these repeating error/warning.
I am loosely monitoring CPU and RAM activity with `htop`, and since these error/warning started, the RAM has been increasing.
(from about ~600Mo to ~800Mo in more than 1 day)
I have no clear data to share, and I am suspecting that the channel is still open, and is filling i

[2021-07-24 14:52] jinusean commented on #156
Last time I checked the rate limit was something like 1200 requests per minute. However, I was never able to reach that amount without getting a 429 - most likely due to concurrently connecting to a large number of streams.

[2021-08-14 02:49] jeffneuen opened #192 "Cryptostore does not work with latest version of cryptofeed (v.1.9.3)"
When attempting to run cryptostore, it does not run due to changes in cryptofeed. On attempting to run cryptostore, the following error is thrown:

[code]

I poked around in cryptofeed a little bit, and saw that "MARKET _INFO" was recently removed from cryptofeed/defines.py in this commit: https://github.com/bmoscon/cryptofeed/commit/b0745d9365638b4fe9472abc7dacf886027d983e so I'm guessing it was

[2021-08-19 20:42] robertsmd commented on #192
confirmed issue with the docker-compose setup. easily solved by changing line in Dockerfile:

`RUN pip install --no-cache-dir git+https://github.com/bmoscon/cryptofeed.git`
with
`RUN pip install --no-cache-dir cryptofeed==1.9.2`

[2021-09-14 16:19] bmoscon commented on #192
market info was removed, the code was updated in cryptostore

[2021-09-14 16:19] #192 closed

[2021-09-14 16:20] bmoscon commented on #189
I fixed this issue in cryptofeed

[2021-09-14 16:20] #189 closed

[2021-09-27 14:20] jeffneuen opened #195 "Redis invalid input error thrown when using fundiing or open interest on FTX"
When attempting to capture funding and open interest on FTX perps, redis throws an error:

[code]
The following sample config should reproduce the error. With funding and open_interest commented out, it works fine. Uncommenting either of them throws the error.

[code]

Latest version of cryptofeed, installing from git via Dockerfile.

[2021-09-27 19:23] b-rockx opened #196 "ModuleNotFoundError: No module named 'cryptofeed.rest'"
Using the default docker-compose and running
docker-compose up, you will get the error

`Traceback (most recent call last):

File "/usr/local/bin/cryptostore", line 11, in <module>

load_entry_point('cryptostore', 'console_scripts', 'cryptostore')()

File "/cryptostore/bin/cryptostore.py", line 11, in main

cs = Cryptostore(config=args.config)

File "/cryptostore/cryptostore.py", line 30, in __ini

[2021-09-30 04:34] blackmask-acuity opened #197 "No data issue"
Hi guys,

Have you ever met this issue before when using the library?
`2021-09-30 11:21:47,644 : INFO : No data for BITMEX-trades-BTC-USD`
`2021-09-30 11:21:47,644 : INFO : Reading BITMEX-ticker-BTC-USD`
I am using **Redis** as the cache, and the following is my config.

[https://pastebin.com/6b9X25NU](url)

When I checked Redis, it didn't receive any thing from the exchange.

`1632975827.647397 [

[2021-10-01 02:51] blackmask-acuity commented on #197
I figured out what my problem was. I used the Python version 3.7 instead of >3.8.

[2021-10-01 02:51] #197 closed

[2021-11-08 22:35] JamesKBowler opened #198 "ValueError: could not convert string to float: 'None'"
**Describe the bug**

After upgrading code to the latest versions for both Cryptofeed and CryptoStore to fix [this](https://github.com/bmoscon/cryptofeed/issues/709) issue, I now have the following issue with Influx.

Please help, thank you

[code]

**Operating System:**
 - Ubuntu 20.04

**Cryptofeed Version**
v2.0.3

[2021-11-13 13:30] botzill opened #199 "Connecting to redis using a password"
Can we now connect to Redis using a password?

Thanks.

[2021-11-14 14:42] bmoscon commented on #199
not supported, but probably wouldnt be hard to add. I'll take a PR if you are up for it

[2021-11-14 17:32] bmoscon commented on #198
fixed today in crytpofeed

[2021-11-14 17:32] #198 closed

[2021-11-14 17:34] #196 closed

[2021-11-14 17:35] bmoscon commented on #195
should be fixed now, but you need to use the latest version of cryptofeed in github

[2021-11-14 17:35] #195 closed

[2021-11-15 11:41] botzill commented on #199
Hi @bmoscon, I did submit a PR, please check.

[2021-11-22 23:01] bmoscon commented on #199
thanks for the PR!

[2021-11-22 23:01] #199 closed

[2021-12-20 14:58] botzill commented on #185
Hi @BlackWingedKing, does this work for you, managed to solve it ?

[2021-12-22 11:09] Leo-ich opened #205 "Error reading config.yaml"
**Describe the bug**
If in config.yaml
[code]
error:
[code]
If in config.yaml
[code]
no errors, it works.

Feedhandler gets an unnecessary list symbols, if exchanges is Bitfinex.

**Operating System:**
 Windows

**Cryptofeed Version**
cryptofeed 2.1.1

**Cryptostore Version**
cryptostore 0.4.0

[2021-12-23 04:48] dirtyValera opened #206 "[Kraken Futures] ValueError: Use subscription, or channels and symbols, not both"
Config:

https://pastebin.com/iE9Q07js

I'm trying to subscribe to all supported channels for one symbol (`L2_BOOK, TICKER, TRADES, OPEN_INTEREST, FUNDING`), but getting:

[code]

This is thrown on `FUNDING` channel.

Looking through code, I'm not completely sure how this works since for `KrakenFutures` object `FUNDING` and `OPEN_INTEREST` ws channels use the same endpoint (is it ok?) Another part

[2022-01-06 14:44] basgir commented on #205
I do have the same problem with Hitbtc when I try to fetch the l2_book:
[code]

[2022-02-16 22:45] bmoscon commented on #206
old version is deprecated, closing

[2022-02-16 22:45] #206 closed

[2022-02-16 22:45] bmoscon commented on #205
old version is deprecated, closing

[2022-02-16 22:45] #205 closed

[2022-02-16 22:46] bmoscon commented on #187
old version is deprecated, closing

[2022-02-16 22:46] #187 closed

[2022-02-16 22:46] #9 closed

[2022-02-16 22:46] #15 closed

[2022-02-16 22:46] #16 closed

[2022-02-16 22:46] #41 closed

[2022-02-16 22:46] #60 closed

[2022-02-16 22:46] #109 closed

[2022-02-16 22:46] #115 closed

[2022-02-16 22:46] #139 closed

[2022-02-16 22:46] #149 closed

[2022-02-16 22:46] #154 closed

[2022-02-16 22:46] #156 closed

[2022-02-16 22:46] #157 closed

[2022-02-16 22:46] #158 closed

[2022-02-16 22:46] #159 closed

[2022-02-16 22:46] #167 closed

[2022-02-16 22:46] #168 closed

[2022-02-16 22:46] #169 closed

[2022-02-16 22:46] #173 closed

[2022-02-16 22:46] #177 closed

[2022-02-16 22:46] #181 closed

[2022-02-16 22:46] #185 closed

[2022-02-16 22:46] #186 closed

[2022-05-09 10:27] anovv opened #207 "L3_BOOK channel"
From briefly looking through code, L3_BOOK callback is not supported. Any reason why? Should it be added?

[2022-05-22 18:17] bmoscon commented on #207
its a lot of volume and a lot of configuration options should probably be enabled by the end user when they enable that. Only a small number of exchanges support L3 books and not all backends support L3 books

[2022-05-26 15:58] Gima1 opened #208 "It's all trustworthy 🥂💥✅"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
* Provide config (at least as much as is relevant)
* redis or kafka?
* What behavior did you see?
* Provide any tracebacks if applicable

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to h

[2022-05-29 20:05] CharlesFr opened #209 "[Errno 111] Connection refused, [Errno 99] Cannot assign requested address"
I first pulled the container:

`docker pull ghcr.io/bmoscon/cryptostore:latest`

I then try to run it using the following command:

[code]

However, I'm getting this error:

[code]

Am I missing something?

[2022-05-30 00:14] Cosmingld commented on #209
I am also having issues, seems like networking is a issue, I am still learning docker so finding it a bit difficult sadly.

Resulting in the value error invalid backend specified

[2022-05-31 07:43] CharlesFr commented on #209
@bmoscon Can we get we your input on troubleshooting DB connection? I'm running a local Postgresql server.

I also found that the TCP example with the following command freezes the container with no output:

[code]

Thanks your help!

[2022-05-31 10:02] Cosmingld commented on #209
I will try to implement that.

I have a suggestion, for the port, try to do -p PORT=8080:8080 instead

[2022-05-31 12:34] bmoscon commented on #209
you need to set the networking up correctly in docker. see https://docs.docker.com/network/

[2022-05-31 12:34] #209 closed

[2022-05-31 14:02] aliabbas666 opened #210 "UndefinedTableError: relation "book" or "ticker" does not exist"
I have run cryptostore on docker as well as directly on machie with backend postgres

run on docker with following command
sudo docker run -e EXCHANGE='COINBASE' \
		   -e CHANNELS='trades,ticker,l2_book' \
		   -e SYMBOLS='BTC-USD,ETH-USD' \
		   -e BACKEND='POSTGRES' \
		   -e DATABASE='postgres' \
		   -e HOST='172.17.0.2' \
		   -e PORT=5432 \
		   -e USER='postgres' \
		   -e PASSWORD='mypass

[2022-05-31 14:26] bmoscon commented on #210
you need to create the table definitions in your database

[2022-05-31 14:26] #210 closed

[2022-05-31 15:10] judhizputra opened #211 "Got error relation "ticker" does not exist"
Hi, i'm new to docker

When running on docker i've got this error on logs

[code]

I'm using docker-compose.yml to run cryptostore and postgres

[code]

Any help appreciated, thank you

[2022-05-31 15:13] #211 closed

[2022-09-02 10:40] KamranBiglari opened #216 "Some exchanges are not supported !"
**Describe the bug**
I tried to use `CryptoDotCom` , `MIXINS` and `BITDOTCOM` but it's not supported !

[code]

[2022-09-04 18:33] iamkucuk commented on #216
This is not a bug. This may fall into feature request.

Cryptostore is a wrapper (a thin one) which heavily relies on cryptofeed. You will find yourself looking into cryptofeed's docs more than cryptostore's only doc page.

[2022-09-06 18:30] bmoscon commented on #216
its because cryptostore needs to be updated to pull in the later version of cryptofeed

[2022-09-14 19:29] KamranBiglari opened #217 "arm64 build for docker"
There is an issue while I try to build it for ARM64

[code]

[code]

[2022-09-14 19:29] #216 closed

[2022-09-14 19:55] bmoscon commented on #217
looks like you dont have a c++ Compiler installed, this is not a bug in cryptostore

[2022-09-14 19:55] #217 closed

[2022-09-16 15:24] weiminmei opened #218 "log-config.json no such file or directory"
Hello!

When trying to start up the container using the instructions:

`docker run -e EXCHANGE='COINBASE' -e CHANNELS='l2_book' -e SYMBOLS='BTC-USD' -e BACKEND='MONGO' -e DATABASE='cryptofeed' ghcr.io/bmoscon/cryptostore:latest -d`

I notice the container did not start. Checking the logs showed this error:

`log-config.json: no such file or directory`